workflows/Daily Call Centre Analysis.json
{"createdAt":"2025-08-18T04:24:53.055Z","updatedAt":"2025-10-07T10:50:17.000Z","id":"2bCtZ4x6WkOC5vdX","name":"Daily Call Centre Analysis","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,32],"id":"1abef800-977c-45d5-b502-4fa53669dc1c","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1IMDkUZXPE5g6CkB-a3E19vigI_02hcGjCwgkQ0GJsTk","mode":"list","cachedResultName":"Daily AI Post Call Analaysis Agent ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IMDkUZXPE5g6CkB-a3E19vigI_02hcGjCwgkQ0GJsTk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IMDkUZXPE5g6CkB-a3E19vigI_02hcGjCwgkQ0GJsTk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-352,32],"id":"606d8f55-b87a-4c3b-a2f4-ee19a5965561","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"snDFDmA1LRUgg4gH","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Exact column headers from your sheet\nconst COL = {\n  id: 'Call ID',\n  customer: 'Customer Number',\n  transcript: 'Transcript',\n  summary: 'Summary',\n  outcome: 'Call Outcome Old',\n  disconnect: 'Disconnection Reason',\n};\n\nconst result = items\n  .filter(item => {\n    const reason = (item.json[COL.disconnect] || '').toString().toLowerCase();\n    // drop if it mentions voicemail or is exactly \"dial_no_answer\"\n    return !reason.includes('voicemail') && reason !== 'dial_no_answer';\n  })\n  .map(item => {\n    const r = item.json;\n    return {\n      json: {\n        callId: r[COL.id],\n        customer: r[COL.customer],\n        transcript: r[COL.transcript],\n        summary: r[COL.summary],\n        outcome: r[COL.outcome],\n      }\n    };\n  });\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,32],"id":"9d0cbd4a-2c8c-40ce-9594-cb642f8514cc","name":"Code"},{"parameters":{"jsCode":"// Combine all items into a single JSON object with a \"calls\" array\nconst calls = items.map(item => item.json);\n\nreturn [\n  {\n    json: {\n      calls: calls\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,32],"id":"5371ebf4-eeea-4796-b6b6-472fa3d1ee13","name":"Code1"},{"parameters":{"promptType":"define","text":"={{ $json }}","options":{"systemMessage":"=# Role\nYou’re an AI call performance reviewer. Your goal is to look at daily call data, find what’s working, what’s not, and suggest simple tweaks so the AI books more meetings.\n\n# What to Look For\n\n1. Friction Moments – Spot anything that made the call awkward or frustrating for the prospect:\n\n- Did they have to repeat themselves?\nDid they get interrupted?\n- Did they hang up suddenly?\n- Were they confused about who you are or why you’re calling?\n- Did they sound annoyed?\n\n2. Conversion Flow – The ideal path is: Intro → Qualify → Show Value → Handle Objections → Book Meeting.\n\n- For booked meetings: What turned things around?\n- For failed calls: Where did things go off track?\n\n3. Objection Handling –\n\n- Which responses to objections worked and kept the call alive?\n- Which ones failed and led to a drop-off?\n\n# Output\nDaily Summary – One short paragraph on overall performance and trends.\n\n# KPIs -\n\n- Total Calls\n- Meetings Booked\n- Callbacks Scheduled\n- Meeting Conversion Rate\n- Friction Points Count\n- Wins to Keep: List phrases, questions, or moments that clearly worked.\n- Fixes to Make: List problem moments and suggest a better way to handle them next time.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[272,32],"id":"433cd3b0-4383-445a-b324-f6f0d1f0e02d","name":"AI Agent"},{"parameters":{"model":"google/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[224,208],"id":"c45742df-7201-4f5a-a56f-897e5b29e69d","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"92bps6bgJv6gIN1Z","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"1234"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[352,208],"id":"5324f95a-adf5-442d-b52f-aafd9f1a0e55","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[480,208],"id":"11e32e9a-0cc1-4181-8f55-491c228431ee","name":"Think"},{"parameters":{"mode":"markdownToHtml","markdown":"{{ $json.output }}","options":{"completeHTMLDocument":true}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[624,32],"id":"bd011271-344e-467b-a355-d38257542805","name":"Markdown"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ee4393d6-d5f0-4eff-b527-457e04de2371","triggerCount":0,"shared":[{"createdAt":"2025-08-18T04:24:53.067Z","updatedAt":"2025-08-18T04:24:53.067Z","role":"workflow:owner","workflowId":"2bCtZ4x6WkOC5vdX","projectId":"i91f6c4SGnMsAUAz"}],"tags":[]}