workflows/Email Customer Support Agent.json
{"createdAt":"2025-07-27T11:29:38.072Z","updatedAt":"2025-08-10T04:10:53.000Z","id":"1gP4DJvNzq2yfecC","name":"Email Customer Support Agent","active":false,"isArchived":true,"nodes":[{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[-4320,2128],"id":"b3fcd572-aad9-4d6b-aeff-1209ac44148f","name":"Supabase Vector Store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-4336,2352],"id":"ab6ce0e9-a7d6-4061-93c7-37035f2a347b","name":"Embeddings OpenAI1"},{"parameters":{"name":"kamexa_information","description":"Information about Kamexa that you can use to answer sales queries. ","topK":5},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-4160,1888],"id":"5937d05b-0c61-46b9-a3ba-5b88ab365e13","name":"kamexa_information"},{"parameters":{"promptType":"define","text":"=Manager just gave feedback requesting a change. \n\nHere's the draft Email your team had prepared: \n\n{{ $('Edit Fields2').item.json.emailBody }}\n\nHere's the managers requested changes: \n\n{{ $('HITL2').item.json.data.Feedback }}\n\nHere's Kamexa specific information which you can use as context for writing the email: \n\n{{ $('CSR Agent').item.json.output.kamexaInformation }}\n\nRewrite the draft email in line with the managers request. ","hasOutputParser":true,"options":{"systemMessage":"=You work in the customer support team at Kamexa, an AI Automation Agency. When Kamexa receives an email from a customer or lead requesting support, your team drafts an appropriate support response.\n\nThe incoming email can be:\n- A first-time support request (no prior ticket exists)\n- A follow-up on an existing support ticket\n- A bug report or feature request from an existing customer\n\nIn every case, your draft response should aim to resolve the issue or, if you need more information, politely request the details required.\n\nThe draft response is then sent to your support manager for feedback. If the manager asks for changes, it is your job to modify the email based on that feedback.\n\nYour output must closely follow the schema defined.\n\nDon’t make anything up.\n\nSign off emails as Kia, Kamexa Support\n\nHere is the current date/time in Sydney (UTC+10) timezone: {{ $now.weekdayLong}}, {{ $now.format('dd LLL yyyy') }} at {{ $now.format('t') }}."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1488,1904],"id":"d65d6410-c174-488a-9dad-c34bf2a75c06","name":"Revision Agent (Email)2"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4.1","mode":"list","cachedResultName":"openai/gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4448,1680],"id":"daefa9b6-15fa-4381-99b7-02835d7b656a","name":"OpenAI Chat Model3"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"emailBody\": {\n      \"type\": \"string\",\n      \"description\": \"The body content of the email reply to be sent to the prospect. (if escalate is true then this is unecessary)\"\n    },\n      \"reason\": {\n      \"type\": \"string\",\n      \"description\": \"Reasoning for your response.\"\n    },\n    \"escalate\": {\n      \"type\": \"boolean\",\n      \"description\": \"True if you are unsure and need to escalate to your manager. False if you have enough information and are sure of your answer.\"\n  },\n    \"kamexaInformation\": {\n      \"type\": \"string\",\n      \"description\": \"Summary of information you found from querying the kamexa_informatin database.\"\n  }\n  },\n  \"required\": [\n    \"emailBody\",\n    \"reason\",\n    \"escalate\"\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-3744,2000],"id":"e1fa14b2-ac04-4293-af55-d48f1caebf8d","name":"Structured Output Parser2"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4.1-mini","mode":"list","cachedResultName":"openai/gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3936,2080],"id":"c6bcb319-8858-4d24-a6ac-4eacaedfe2e2","name":"OpenAI Chat Model4"},{"parameters":{"assignments":{"assignments":[{"id":"74a43c89-3cf6-4814-ab9a-f000fb2eb7d2","name":"emailBody","value":"={{ $json.output.emailBody }}","type":"string"},{"id":"96d65148-22fc-4acb-b2e7-7a0b892929bc","name":"reasoning","value":"={{ $json.output.reason }}","type":"string"},{"id":"393e3445-3983-4f20-ad64-5de5033a8c60","name":"escalate","value":"={{ $json.output.escalate }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3328,1648],"id":"d527458c-80e5-4058-a078-d633f16bdad1","name":"Edit Fields2"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4.1-mini","mode":"list","cachedResultName":"openai/gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1600,2192],"id":"9702e38c-e718-411d-bb9d-3c09f5d93aeb","name":"OpenAI Chat Model5"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"emailBody\": {\n      \"type\": \"string\",\n      \"description\": \"The body content of the email reply to be sent to the prospect in line with managers feedback.\"\n    },\n      \"reason\": {\n      \"type\": \"string\",\n      \"description\": \"Reasoning for your response.\"\n    }\n  },\n  \"required\": [\n    \"emailBody\",\n    \"reason\",\n    \"escalate\"\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1184,2192],"id":"f0ff765b-1d81-46fd-892b-518cf86cf157","name":"Structured Output Parser3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.Approve }}","rightValue":"Yes","operator":{"type":"string","operation":"equals"},"id":"0a83b8bf-1fbe-4646-a7bd-8d5efd817629"}],"combinator":"and"},"renameOutput":true,"outputKey":"Approved"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"327f1432-f2fd-4c09-bcf9-b03effea941f","leftValue":"={{ $json.data.Approve }}","rightValue":"No","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Iterate"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"749ca2c5-30f9-4acd-b9a2-5a10fc4d2b3e","leftValue":"={{ $json.data.Approve }}","rightValue":"Stop - Human Handling","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Human"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2864,1648],"id":"5c2064b5-3420-47dd-9361-0fca3c6aa0c2","name":"Decision"},{"parameters":{"operation":"sendAndWait","chatId":"YOUR-ID-HERE","message":"=### Prospect = {{ $('When Executed by Another Workflow').item.json.emailAddress }}\n\n---------------------------------------------------------\n\n### Action = Replying to Email ###\n\n---------------------------------------------------------\n\n### Previous Emails Summary ### \n\n{{ $('When Executed by Another Workflow').item.json.threadSummary }}\n\n---------------------------------------------------------\n### Customer Email: ### \n\n{{ $('When Executed by Another Workflow').item.json.newEmail }}\n\n---------------------------------------------------------\n\n### Thought Process: ### \n\n{{ $json.reasoning }}\n\n---------------------------------------------------------\n\n### Draft Email: ### \n\n{{ $json.emailBody }}\n","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Approve","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes"},{"option":"No"},{"option":"Stop - Human Handling"}]}},{"fieldLabel":"Feedback"}]},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3120,1648],"id":"2c0fd62b-03be-4b03-b38a-bd1f1b383f7c","name":"HITL2","webhookId":"d6015975-904c-4d0c-88c3-6cc4d0ce8faa"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.messageId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-4288,1712],"id":"13bbe839-f251-4295-aeaa-ee04627ab87b","name":"Simple Memory2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c816866-eec9-4c02-a7df-e37a4c1fc89f","leftValue":"={{ $json.output.escalate }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3776,1504],"id":"e623d6ba-d9cf-4f6b-95a1-c2d62dfc82ea","name":"Escalate?"},{"parameters":{"workflowInputs":{"values":[{"name":"emailAddress"},{"name":"threadId"},{"name":"messageId"},{"name":"notes"},{"name":"newEmail"},{"name":"threadSummary"},{"name":"contactId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-4624,1488],"id":"9785a8ed-e448-4991-adb5-b92c0143a10a","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2416,912],"id":"d8f89398-f8fd-4d01-abdd-7db19ff8ddd1","name":"Done"},{"parameters":{"resource":"thread","operation":"reply","threadId":"={{ $('When Executed by Another Workflow').item.json.threadId }}","messageId":"={{ $('When Executed by Another Workflow').item.json.messageId }}","message":"={{ $('Edit Fields2').item.json.emailBody }}","options":{"replyToSenderOnly":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-768,1600],"id":"b95412c8-d3c0-4310-b76f-392e276bf92f","name":"Reply to Email","webhookId":"d6a5ff28-938b-4223-a419-0022d4bf4fd1"},{"parameters":{"promptType":"define","text":"=A new email was just received by a prospect: \n\nHere's the email: \n\n{{ $('When Executed by Another Workflow').item.json.newEmail }}\n\nHere's a summary of the thread of the email (for context): \n\n{{ $('When Executed by Another Workflow').item.json.threadSummary }} \n\nWe checked the email address in our CRM. Here's all the notes we found on the account associated with the email address: \n\n{{ $('When Executed by Another Workflow').item.json.notes }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview \nYou work in the customer support team at Kamexa, an AI automation agency. When Kamexa receives an email from a customer or lead asking for help, you must draft the appropriate support response.\n\nThe incoming email can be one of:\n\n- A first-time support request (no prior ticket exists)\n\n- A follow-up on an existing support ticket (there will be notes in the CRM)\n\n- Any other admin work related enquiry \n\nIn all cases your goal is to resolve their issue or question or, if you can’t, to collect enough detail and escalate appropriately so that a human agent can take over.\n\n# Tools\n- kamexa_information: a RAG database containing all Kamexa's product documentation, troubleshooting guides, and FAQs. Use it to find any Kamexa specific details needed to answer or troubleshoot. Only use this if there's not enough information to handle the query directly from customer notes on crm.\n\n# Instructions\n- You will be given the new incoming email plus any email history and CRM notes.\n- Consult the kamexa_information database to retrieve relevant knowledge (features, known issues, workarounds).\n- Draft a reply that:\n1. Acknowledges the customer’s concern clearly\n2. Provides the best available solution or next steps\n3. If you lack information or the problem is out of scope, set \"escalate\": true so a human can intervene\n- Sign off all replies as Kia, Kamexa Support \n- Provide the best customer service experience you possible can \n- Always write in a casual and friendly tone  \n\n# Context \nHere is the current date/time in Sydney (UTC+10) timezone: {{ $now.weekdayLong}}, {{ $now.format('dd LLL yyyy') }} at {{ $now.format('t') }}.\n\n# Output\nYour output must follow the defined schema \n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-4320,1488],"id":"af106eb2-31ac-42f4-a18f-13a18dcde57d","name":"CSR Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3aa4ee05-7c16-4513-928d-61dae542a4c3","leftValue":"={{ $('When Executed by Another Workflow').item.json.contactId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,352],"id":"3ef9f83e-4edf-49fd-ac9c-eb1bb912fe74","name":"If"},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $('When Executed by Another Workflow').item.json.contactId }}/notes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR-API-HERE"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"YOUR-UID-HERE"},{"name":"body","value":"=Type: Email\nFrom: Customer\nThreadId: {{ $('When Executed by Another Workflow').item.json.threadId }}\n\n{{ $('When Executed by Another Workflow').item.json.newEmail }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,192],"id":"9e966c4b-375f-4077-9b8b-98dd1e4ff42c","name":"Create Note - Input"},{"parameters":{"chatId":"YOUR-ID-HERE","text":"=### Human Action Needed! ###\n\n### Sales Enquiry from  {{ $('When Executed by Another Workflow').item.json.emailAddress }}\n\n\n---------------------------------------------------------\n\n### Previous Emails Context:\n\n{{ $('When Executed by Another Workflow').item.json.threadSummary }}\n\n--------------------------------------------------------- \n\n### New Email: \n\n{{ $('When Executed by Another Workflow').item.json.newEmail }}\n\n---------------------------------------------------------\n\n### Can't handle this - Here's why: \n\n{{ $('CSR Agent').item.json.output.reason }}\n\n---------------------------------------------------------\n\nPlease respond to them as soon as you can! ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2464,512],"id":"bc4d1211-3aad-4184-be72-633cf54be4f2","name":"Escalation Message","webhookId":"78ea7cea-6b85-49ab-ae3b-42e94d71d54d"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR-API-HERE"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"firstName\": \"{{ $json.output.name }}\",\n  \"email\": \"{{ $('When Executed by Another Workflow').item.json.emailAddress }}\",\n  \"locationId\": \"YOUR-ID-HERE\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,400],"id":"dcababcd-d3d4-45e3-a832-dab07a5f7ebe","name":"Create Contact"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4.1-mini","mode":"list","cachedResultName":"openai/gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,688],"id":"6d384d86-c760-4e40-828f-1c36f57dd18d","name":"OpenAI Chat Model"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\",\n      \"description\": \"name of the person\"\n    }\n  },\n  \"required\": [\n    \"name\"\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[992,688],"id":"146f3b0d-aaa5-442f-a1ab-29bbf0917265","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Here's the email: \n\n{{ $('When Executed by Another Workflow').item.json.newEmail }} ","hasOutputParser":true,"options":{"systemMessage":"=Your job is to read an email and identify the name of the sender. \n\nThey usually put this at the bottom of their email.\n\nYour output must follow the defined schema."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[688,400],"id":"8039e4c5-b562-4218-8ccc-b66d0ad41e90","name":"Name Finder"},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $json.contact.id }}/notes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR-API-HERE"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"YOUR-UID-HERE"},{"name":"body","value":"=Type: Email\nFrom: Customer\nThreadId: {{ $('When Executed by Another Workflow').item.json.threadId }}\n\n{{ $('When Executed by Another Workflow').item.json.newEmail }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,400],"id":"61d820da-0071-4c3d-ac1b-feac9a175567","name":"Create Note - Input1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3aa4ee05-7c16-4513-928d-61dae542a4c3","leftValue":"={{ $('When Executed by Another Workflow').item.json.contactId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,1600],"id":"ceba4c15-4d86-4ee1-b407-90afd1b44d60","name":"If2"},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $('When Executed by Another Workflow').item.json.contactId }}/notes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR-API-HERE"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"YOUR-UID-HERE"},{"name":"body","value":"=Type: Email\nFrom: Customer\nThreadId: {{ $('When Executed by Another Workflow').item.json.threadId }}\n\n{{ $('When Executed by Another Workflow').item.json.newEmail }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,1440],"id":"f0a0cea3-8d2d-4b88-b93e-344e03203987","name":"Create Note - Input4"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR-API-HERE"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"firstName\": \"{{ $json.output.name }}\",\n  \"email\": \"{{ $('When Executed by Another Workflow').item.json.emailAddress }}\",\n  \"locationId\": \"YOUR-ID-HERE\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,1664],"id":"ad92d45e-193a-42ee-a407-2f1992b22e61","name":"Create Contact2"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4.1-mini","mode":"list","cachedResultName":"openai/gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[528,1952],"id":"f58095d4-29b0-4595-930b-7df33b370a1d","name":"OpenAI Chat Model2"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\",\n      \"description\": \"name of the person\"\n    }\n  },\n  \"required\": [\n    \"name\"\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[880,1952],"id":"32e62f67-e37c-4f78-9cc2-d90f7d69ed7d","name":"Structured Output Parser4"},{"parameters":{"promptType":"define","text":"=Here's the email: \n\n{{ $('When Executed by Another Workflow').item.json.newEmail }} ","hasOutputParser":true,"options":{"systemMessage":"=Your job is to read an email and identify the name of the sender. \n\nThey usually put this at the bottom of their email.\n\nYour output must follow the defined schema."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[624,1664],"id":"6a47985c-4ec1-4e8b-8353-f1485f05f54f","name":"Name Finder2"},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $('When Executed by Another Workflow').item.json.contactId }}/notes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR-API-HERE"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"YOUR-UID-HERE"},{"name":"body","value":"=Type: Email\nFrom: AI Rep\nThreadId: {{ $('When Executed by Another Workflow').item.json.threadId }}\n\n{{ $('Edit Fields2').item.json.emailBody }}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,1440],"id":"ce7a1d7f-75b5-4be4-b3d9-8a5a24772b0d","name":"Create Note - Output"},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $json.note.contactId }}/notes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR-API-HERE"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"YOUR-UID-HERE"},{"name":"body","value":"=Type: Email\nFrom: AI Rep\nThreadId: {{ $('When Executed by Another Workflow').item.json.threadId }}\n\n{{ $('Edit Fields2').item.json.emailBody }}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,1664],"id":"4cd03941-734d-4ec1-abe4-fc52e5b3ffa2","name":"Create Note - Output1"},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $json.contact.id }}/notes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR-API-HERE"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"YOUR-UID-HERE"},{"name":"body","value":"=Type: Email\nFrom: Customer\nThreadId: {{ $('When Executed by Another Workflow').item.json.threadId }}\n\n{{ $('When Executed by Another Workflow').item.json.newEmail }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,1664],"id":"227b5939-b242-4635-af9e-97a1d423896e","name":"Create Note - Input3"},{"parameters":{"content":"# Draft Email","height":1200,"width":1160,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-4720,1312],"typeVersion":1,"id":"39af5a65-551c-4d49-a5d4-e379e6239f8e","name":"Sticky Note1"},{"parameters":{"content":"# Human in The Loop","height":420,"width":780},"type":"n8n-nodes-base.stickyNote","position":[-3440,1520],"typeVersion":1,"id":"8cedf0a9-bd9f-4067-9404-b3060a07c001","name":"Sticky Note3"},{"parameters":{"content":"# Action","height":380,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2576,384],"typeVersion":1,"id":"b668b8a5-b77f-46c2-b4de-9dd56d654210","name":"Sticky Note9"},{"parameters":{"content":"# Action","height":380,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-880,1472],"typeVersion":1,"id":"11764e4a-6cb0-492e-932b-51e9a2422bc5","name":"Sticky Note"},{"parameters":{"content":"# Revision","height":560,"width":640,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1680,1792],"typeVersion":1,"id":"e058f575-53ce-4ce4-adf5-5777598b40a7","name":"Sticky Note5"},{"parameters":{"content":"# Full Context","height":920,"width":1920,"color":2},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"d008f194-de10-4c08-aa10-f2a2d93ceb78","name":"Sticky Note12"},{"parameters":{"content":"# Full Context","height":920,"width":1920,"color":2},"type":"n8n-nodes-base.stickyNote","position":[0,1232],"typeVersion":1,"id":"c4009f09-fdac-4662-9e90-e340e6832ed7","name":"Sticky Note13"}],"connections":{"Supabase Vector Store":{"ai_vectorStore":[[{"node":"kamexa_information","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"kamexa_information":{"ai_tool":[[{"node":"CSR Agent","type":"ai_tool","index":0}]]},"Revision Agent (Email)2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"CSR Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"CSR Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"kamexa_information","type":"ai_languageModel","index":0}]]},"Edit Fields2":{"main":[[{"node":"HITL2","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Revision Agent (Email)2","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Revision Agent (Email)2","type":"ai_outputParser","index":0}]]},"Decision":{"main":[[{"node":"Reply to Email","type":"main","index":0}],[{"node":"Revision Agent (Email)2","type":"main","index":0}],[{"node":"Done","type":"main","index":0}]]},"HITL2":{"main":[[{"node":"Decision","type":"main","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"CSR Agent","type":"ai_memory","index":0}]]},"Escalate?":{"main":[[{"node":"Escalation Message","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"CSR Agent","type":"main","index":0}]]},"Reply to Email":{"main":[[{"node":"If2","type":"main","index":0}]]},"CSR Agent":{"main":[[{"node":"Escalate?","type":"main","index":0}]]},"If":{"main":[[{"node":"Create Note - Input","type":"main","index":0}],[{"node":"Name Finder","type":"main","index":0}]]},"Escalation Message":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Name Finder","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Name Finder","type":"ai_outputParser","index":0}]]},"Name Finder":{"main":[[{"node":"Create Contact","type":"main","index":0}]]},"Create Contact":{"main":[[{"node":"Create Note - Input1","type":"main","index":0}]]},"Done":{"main":[[{"node":"If","type":"main","index":0}]]},"If2":{"main":[[{"node":"Create Note - Input4","type":"main","index":0}],[{"node":"Name Finder2","type":"main","index":0}]]},"Create Contact2":{"main":[[{"node":"Create Note - Input3","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Name Finder2","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Name Finder2","type":"ai_outputParser","index":0}]]},"Name Finder2":{"main":[[{"node":"Create Contact2","type":"main","index":0}]]},"Create Note - Input4":{"main":[[{"node":"Create Note - Output","type":"main","index":0}]]},"Create Note - Input3":{"main":[[{"node":"Create Note - Output1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"emailAddress":"kia.demobot@gmail.com","threadId":"1967a5b8e4528f95","messageId":"1967a5b8e4528f95","notes":"Note#1:\n2025-04-26T11:28:26.150Z\nJohn requested a refund. \n\nSpoke to manager - We'll offer the refund but he needs to give us his credit card details and it will take 3 days.\n\nHaven't emailed the customer yet!\n\nNote#2:\n2025-04-26T03:56:06.568Z\nCommunication Type - Email\nFrom: Rep \nThreadId: 2432424324\n\nDetails:\nWe automate your entire SEO - it only costs $1000. \nThanks\n\nNote#3:\n2025-04-26T03:55:07.143Z\nCommunication Type - Email \nFrom: Customer \nThreadId: 2432424324\n\nDetails: \nHey we're super interested in exploring how you can help us automate SEO. \nThanks! ","newEmail":"Hey Kia, It’s John here. I’m still waiting on a response on that refund request.\nCan you please update me? Look forward to hearing from you.\n\nJohn","threadSummary":"","contactId":"MnqgxSSPzZmi4Yr9i5No"}}]},"versionId":"9890fc56-9cea-49b7-91c0-5c67620112e4","triggerCount":0,"shared":[{"createdAt":"2025-07-27T11:29:38.082Z","updatedAt":"2025-07-27T11:29:38.082Z","role":"workflow:owner","workflowId":"1gP4DJvNzq2yfecC","projectId":"i91f6c4SGnMsAUAz"}],"tags":[]}