workflows/Facebook Ad Thief.json
{"createdAt":"2025-09-08T17:10:23.862Z","updatedAt":"2025-09-08T17:10:57.000Z","id":"1N6cIHz4ZANHUZob","name":"Facebook Ad Thief","active":false,"isArchived":true,"nodes":[{"parameters":{"formTitle":"Facebook Ad Thief Form","formDescription":"Upload your product image and submit a facebook ad library url for the ads you want to clone/spin for your produc.t","formFields":{"values":[{"fieldLabel":"Facebook Ad Library Url","placeholder":"https://www.facebook.com/","requiredField":true},{"fieldLabel":"Your Product Image","fieldType":"file","multipleFiles":false,"requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"63965566-dd28-4f85-b807-be3bd82ac011","name":"form_trigger","webhookId":"739f6e4b-c69f-4baf-b6fe-f671f8ba6279"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,224],"id":"e96cd00e-4b60-4e07-a0ab-da8648270d12","name":"iterate_ads"},{"parameters":{"url":"={{ $node['iterate_ads'].json.snapshot.cards.first().original_image_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,240],"id":"f93a5a77-e81a-46b3-b749-242d47e79ce6","name":"download_image"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[928,240],"id":"1ef4d395-f9d1-4203-8edf-07b52023a0df","name":"convert_ad_image_to_base64"},{"parameters":{"name":"={{ $node['iterate_ads'].json.snapshot.cards.first().title }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1HoXBHX3gvz5TxhczPwI0d5gWI3mxJT7h","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[928,64],"id":"4b6db06a-4b70-4458-b26c-9716a77715d8","name":"upload_ad_reference"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1200,224],"id":"d62eec11-69b1-48cd-acaf-f3ac26228ee2","name":"merge"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[0,480],"id":"5bf7bfc1-efd1-4b29-b21f-84ebde42060f","name":"aggregate"},{"parameters":{"operation":"toBinary","sourceProperty":"image_result","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1200,496],"id":"de91618a-4076-43e0-baa7-c94f43527ed8","name":"get_image"},{"parameters":{"name":"=Cloned Ad #{{ $runIndex + 1 }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1X4SkqnUptmbLuAbdEzyZeSnb_nt_2qTe","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1488,560],"id":"5073f478-f2b9-4c25-a634-e062c82b4d55","name":"upload_image"},{"parameters":{"assignments":{"assignments":[{"id":"524da01b-f8b9-4c2c-9e28-319455903e4d","name":"=image_result","value":"={{ $json.candidates[0].content.parts.filter(item => item.inlineData).first().inlineData.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,496],"id":"99497138-d787-4ee7-9fd2-e0ffb3e7059b","name":"set_result"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f46e65cf-d695-4e2e-a64c-be500cd788dd","leftValue":"={{ $json.candidates.first().finishReason }}","rightValue":"PROHIBITED_CONTENT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,480],"id":"4db6b94e-fae0-4512-ba03-e9f1a85d8a6c","name":"check_if_prohibited"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"Your_Product_Image","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[304,0],"id":"87b42105-469b-446f-9157-64e97ba3fe1a","name":"convert_product_image_to_base64"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{\n    \"parts\": [\n      { \"text\": {{ JSON.stringify($json.prompt) }} },\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/png\",\n          \"data\": \"{{ $node['convert_product_image_to_base64'].json.data }}\"\n        }\n      },\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $node['convert_ad_image_to_base64'].json.data }}\"\n        }\n      }\n    ]\n  }]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,480],"id":"8d75a57f-faf9-4fd3-9808-74376afe42b5","name":"generate_ad_image_prompt","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image-preview:generateContent","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{\n    \"parts\": [\n      { \"text\": {{ JSON.stringify($json.candidates.first().content.parts.first().text) }} },\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/png\",\n          \"data\": \"{{ $node['convert_product_image_to_base64'].json.data }}\"\n        }\n      },\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $node['convert_ad_image_to_base64'].json.data }}\"\n        }\n      }\n    ]\n  }]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,480],"id":"5de73374-17ce-46cb-aa73-a89bb31de82a","name":"generate_ad_image","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"assignments":{"assignments":[{"id":"2fcf84d7-4a17-4899-9bea-a7d3b6027acd","name":"prompt","value":"You are an expert in image I need your help to write a perfect prompt that is going to help me generate/edit an image for my company's product called Thrive Mix. Attached to this request are two images: 1. Product picture of Thrive Mix (our product) 2. Reference image of the competitor's ad we're trying to replicate In your analysis of these images, I want you to come up with a plan and write a very detailed prompt on how we can clone and spin the ad from image number two (our competitor AG1) to make an identical ad that features our product with our packaging (ThriveMix) and image number one. We need to replicate the same style used on the AG1 competitor ad, but it should always be our packaging that's included. Some tricky edge cases you need to handle are: Partial branding items of the AG1 text (there can be text that says AG1, labels on products that say AG1, multiple products, multiple packages that are different from ours). Please check for all placements in the AG1 ad that need to be replaced. You need to figure out how to write a specific prompt that is going to detail this image generator how to replace it and create the ad for our product. The end result we're going for is a new ad that promotes our product ThriveMix. Make sure your prompt includes changes that need to be changed on the text of the image like labels and calls to action. It's possible that the source ad image for our competitor AG1 will have partial text on the product or packaging like \"A\", \"AG\", \"G, \"G\" (standalone), \"G1\", or some other partial text that needs to be checked for and analyzed in your plan. Keep the ad copy the same EXCEPT for switching \"AG1\" to \"ThriveMix\" to Think deeply about the prompt you are going to write.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,480],"id":"4db41feb-4a55-4336-b431-3da0652cb917","name":"build_prompt"},{"parameters":{},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[640,0],"id":"afb3bfaf-ab51-4bbb-a13e-e670034fa01b","name":"scrape_ads","credentials":{}}],"connections":{"form_trigger":{"main":[[{"node":"convert_product_image_to_base64","type":"main","index":0}]]},"iterate_ads":{"main":[[],[{"node":"download_image","type":"main","index":0}]]},"download_image":{"main":[[{"node":"upload_ad_reference","type":"main","index":0},{"node":"convert_ad_image_to_base64","type":"main","index":0}]]},"upload_ad_reference":{"main":[[{"node":"merge","type":"main","index":0}]]},"convert_ad_image_to_base64":{"main":[[{"node":"merge","type":"main","index":1}]]},"merge":{"main":[[{"node":"aggregate","type":"main","index":0}]]},"aggregate":{"main":[[{"node":"build_prompt","type":"main","index":0}]]},"get_image":{"main":[[{"node":"upload_image","type":"main","index":0}]]},"set_result":{"main":[[{"node":"get_image","type":"main","index":0}]]},"upload_image":{"main":[[{"node":"iterate_ads","type":"main","index":0}]]},"check_if_prohibited":{"main":[[{"node":"iterate_ads","type":"main","index":0}],[{"node":"set_result","type":"main","index":0}]]},"generate_ad_image_prompt":{"main":[[{"node":"generate_ad_image","type":"main","index":0}]]},"generate_ad_image":{"main":[[{"node":"check_if_prohibited","type":"main","index":0}]]},"build_prompt":{"main":[[{"node":"generate_ad_image_prompt","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8265a304-7221-4562-a277-57707dcc4ef4","triggerCount":0,"shared":[{"createdAt":"2025-09-08T17:10:23.867Z","updatedAt":"2025-09-08T17:10:23.867Z","role":"workflow:owner","workflowId":"1N6cIHz4ZANHUZob","projectId":"i91f6c4SGnMsAUAz"}],"tags":[]}