workflows/LinkedIn Post Agent.json
{"createdAt":"2025-08-10T11:44:16.671Z","updatedAt":"2025-09-20T18:05:20.000Z","id":"10oiKyotjI6q2qFs","name":"LinkedIn Post Agent","active":false,"isArchived":true,"nodes":[{"parameters":{"toolDescription":"Use this tool to search the web. ","method":"POST","url":"https://api.tavily.com/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user is searching for. "}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1280,512],"id":"e2949568-1e90-43a6-ba8b-2b388a6a05fb","name":"Tavily"},{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1136,512],"id":"432cbae4-ec99-4359-a41e-e0d29d0c3ae8","name":"GPT_4.1"},{"parameters":{"promptType":"define","text":"=Blog Post: \n{{ $json.output }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are an AI agent that transforms LinkedIn posts into visual prompt descriptions for generating graphic marketing materials. These visuals are designed to be paired with the post on LinkedIn, helping communicate the message in a visually engaging, brand-aligned way.\n\n## Objective:\n- Read and analyze the given LinkedIn post.\n- Identify the main message, insight, or takeaway from the post.\n- Create a clear and compelling graphic prompt that can be used with a text-to-image generator.\n- The result should be a marketing-style graphic — not a literal scene or hyperrealistic photo — that:\n1) Visually supports or illustrates the key idea of the post\n2) Looks appropriate for use in a professional LinkedIn feed\n3) Feels polished, modern, and engaging\n\n## Output Instructions:\n- Output only the final image prompt. Do not output quotation marks.\n- Do not repeat or rephrase the LinkedIn post.\n- Do not add any explanations or extra content — just the image prompt.\n- Never leave things blank like \"Header area reserved for customizable callout text\"\n- Output numeric stats when available in the original post\n\n## Style Guidelines:\n- Think like a brand designer or marketing creative.\n- Visuals may include: text, charts, icons, abstract shapes, overlays, modern illustrations, motion-like effects, bold typography elements (described, not rendered), or metaphorical concepts.\n- You can mention layout suggestions (e.g., \"split screen design,\" \"header with bold title and subtle background illustration\").\n- Assume the output will be generated using AI image tools — your prompt should guide those tools effectively.\n\n## Example Prompt Format:\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the fusion of AI and automation. Minimalist background, soft gradients, clean sans-serif text placement space at the top."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-864,224],"id":"4fa86923-0358-4e87-b812-cdb69b9eec10","name":"Image Prompt Agent"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-image-1"},{"name":"prompt","value":"={{ $json.output.prompt.replace(/\"/g, '') }}"},{"name":"size","value":"1024x1024"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-416,224],"id":"15b13fb2-a931-41bc-a08e-e8b9454276f8","name":"Generate Image"},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-224,224],"id":"5a59f838-aae2-4cb2-81de-6e30d6de312a","name":"Convert to Binary"},{"parameters":{"content":"# Content Generation","height":260,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1360,128],"id":"90b6f6a7-aaac-475f-8b82-1ce3cabcff09","name":"Sticky Note"},{"parameters":{"content":"# Generate Image\n","height":260,"width":460,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-496,128],"id":"9bea828a-eb5b-4286-867b-a5054e576b78","name":"Sticky Note1"},{"parameters":{"content":"# Image Prompt\n","height":260,"width":440,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,128],"id":"33cded34-6360-4f74-9688-d59a9c236788","name":"Sticky Note4"},{"parameters":{"content":"## Tool & Model","height":240,"width":380,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1360,400],"id":"df1ce1d0-5c39-4a7a-8668-ddfa62d05943","name":"Sticky Note2"},{"parameters":{"workflowInputs":{"values":[{"name":"postTopic"},{"name":"targetAudience"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1568,224],"id":"be95a029-148e-4c12-beff-40be302d6f32","name":"When Executed by Another Workflow"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0","mode":"list","cachedResultName":"Marketing Team Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Request":"={{ $('When Executed by Another Workflow').item.json.postTopic }} for {{ $('When Executed by Another Workflow').item.json.targetAudience }}","ID":"={{ $json.id }}","Link":"={{ $json.webViewLink }}","Post":"={{ $('LinkedIn Post Agent').item.json.output }}","Title":"={{ $('When Executed by Another Workflow').item.json.postTopic }}","Type":"Post"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post","displayName":"Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[352,384],"id":"5d5bc873-8e61-4c1e-b54a-4d3de5b1fb6b","name":"Image Log"},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"<2-4 word creative title for the image>\",\n  \"prompt\": \"<full detailed image generation prompt>\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-768,512],"id":"9a97b987-fd6d-4179-89f9-fc47bbefa676","name":"Image & Title"},{"parameters":{"content":"## Structured Output","height":240,"width":320,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,400],"id":"4a32d254-4e61-4d3e-a246-4efbcc93fcd3","name":"Sticky Note3"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","text":"={{ $('LinkedIn Post Agent').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[352,80],"id":"c593d18e-1e79-445c-9244-54cec1cdc01d","name":"Send Blog","webhookId":"94fa70af-f2fc-4c05-8fa1-d9f55637485f"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[128,80],"id":"836db143-fa34-4393-99cb-02dbef52620f","name":"Send Photo","webhookId":"8fcbda9c-8396-41f7-8f2d-39e4ae4337c7"},{"parameters":{"content":"# Trigger\n","height":260,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1648,128],"id":"f1f3c5cf-5d04-4a58-9393-4835ac2d8180","name":"Sticky Note5","disabled":true},{"parameters":{"content":"# Write to Drive & Sheets","height":240,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,304],"id":"1d103627-b96c-44db-9e70-7fd8c0b8b0ec","name":"Sticky Note6"},{"parameters":{"content":"# Send Content","height":240,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"fab974dc-3342-4027-8bc4-b913fefde358","name":"Sticky Note7"},{"parameters":{"name":"={{ $('Image Prompt Agent').item.json.output.title }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[128,384],"id":"4a9f251d-6830-4916-977c-0870a8935f56","name":"Upload"},{"parameters":{"promptType":"define","text":"=Topic of Post: {{ $json.blogTopic }}\n\nTarget Audience: {{ $json.targetAudience }}","options":{"systemMessage":"=# Overview\nYou are an AI agent specialized in creating professional, educational, and engaging LinkedIn posts based on any topic provided by the user.\n\n## Objectives:\nAlways begin by conducting a real-time search using the Tavily tool to gather the most accurate, up-to-date information on the topic. The post should be written to appeal to the provided target audience.\n\nBased on your research, generate a well-structured LinkedIn post that:\n- Starts with an engaging hook\n- Professional in tone\n- Clear and easy to read\n- Educational and insightful\n- Light on emojis (use only when highly relevant and minimal)\n- Includes proper source attribution (e.g., “according to [source]”)\n- Contains relevant hashtags to improve visibility\n- Ends with a clear call to action (e.g., asking for thoughts, feedback, or shares)\n\n## Output Instructions:\n- Your ONLY output should be the final LinkedIn post text.\n- Do not include explanations, notes, or anything beyond the post itself.\n\n## Example Workflow:\n1) Receive a topic (e.g., “The ROI of warehouse automation”)\n2) Use Tavily to search and gather recent information or case studies\n3) Draft a LinkedIn post using that research\n4) Format it with source citations, clean structure, optional hashtags, and a call to action"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1296,224],"id":"0fb73d70-d673-4ace-8dc4-be56c5231c1b","name":"LinkedIn Post Agent"}],"connections":{"Tavily":{"ai_tool":[[{"node":"LinkedIn Post Agent","type":"ai_tool","index":0}]]},"GPT_4.1":{"ai_languageModel":[[{"node":"LinkedIn Post Agent","type":"ai_languageModel","index":0},{"node":"Image Prompt Agent","type":"ai_languageModel","index":0}]]},"Image Prompt Agent":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Convert to Binary","type":"main","index":0}]]},"Convert to Binary":{"main":[[{"node":"Send Photo","type":"main","index":0},{"node":"Upload","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"LinkedIn Post Agent","type":"main","index":0}]]},"Image & Title":{"ai_outputParser":[[{"node":"Image Prompt Agent","type":"ai_outputParser","index":0}]]},"Send Photo":{"main":[[{"node":"Send Blog","type":"main","index":0}]]},"Upload":{"main":[[{"node":"Image Log","type":"main","index":0}]]},"LinkedIn Post Agent":{"main":[[{"node":"Image Prompt Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"89edf43f-0ece-4d63-89dc-7678085f0c69","triggerCount":0,"shared":[{"createdAt":"2025-08-10T11:44:16.680Z","updatedAt":"2025-08-10T11:44:16.680Z","role":"workflow:owner","workflowId":"10oiKyotjI6q2qFs","projectId":"i91f6c4SGnMsAUAz"}],"tags":[]}