workflows/Logo Generator.json
{"createdAt":"2025-08-10T04:50:31.638Z","updatedAt":"2025-09-20T18:05:20.000Z","id":"1TfrXF77cFmU9bYc","name":"Logo Generator","active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"imagePrompt"},{"name":"resolution"},{"name":"imageType"},{"name":"fileName"}]}},"id":"0133d4f7-a986-4031-83a1-9cdcc874044b","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.imagePrompt }}","options":{"quality":"low","size":"={{ $json.resolution }}"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[224,0],"id":"03479d38-90ec-4fec-93e1-213d5731fce7","name":"OpenAI"},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[448,0],"id":"c813ec68-95c3-4212-8548-02cba6804631","name":"Google Drive"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"writer","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,0],"id":"a4f748d5-5c14-4520-ba67-b1d28a53b5c1","name":"Google Drive1"},{"parameters":{"assignments":{"assignments":[{"id":"cc5839f6-8d08-405e-bf8e-fc038e1bb121","name":"webViewLink","value":"={{ $('Google Drive').item.json.webViewLink }}","type":"string"},{"id":"0808c18a-075d-4d90-bbec-55a505512d30","name":"initialPrompt","value":"={{ $('When Executed by Another Workflow').item.json.imagePrompt }}","type":"string"},{"id":"26209b1c-9d62-48a3-a4a6-290802b2e0c5","name":"fileName","value":"={{ $('When Executed by Another Workflow').item.json.fileName }}","type":"string"},{"id":"2d72a62f-1871-43a4-9c8f-687d0006b31d","name":"imageType","value":"={{ $('When Executed by Another Workflow').item.json.imageType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,0],"id":"3f58413a-18dd-455c-845f-85091dda57d7","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e682cbac-1273-4545-a506-df3608e958ee","triggerCount":0,"shared":[{"createdAt":"2025-08-10T04:50:31.644Z","updatedAt":"2025-08-10T04:50:31.644Z","role":"workflow:owner","workflowId":"1TfrXF77cFmU9bYc","projectId":"i91f6c4SGnMsAUAz"}],"tags":[]}