workflows/Post Call Transcription - Asana Tasks Manager.json
{"createdAt":"2025-08-06T12:48:51.308Z","updatedAt":"2025-09-20T18:10:24.000Z","id":"2s8eda2GFpb2vUi7","name":"Post Call Transcription - Asana Tasks Manager","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"d7bece89-88f1-4200-8495-c3980057a7f7","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4496,960],"id":"f3565f6a-89f7-44e0-84a2-7252c2f0e1c6","name":"Fireflies - New Transcription ","webhookId":"d7bece89-88f1-4200-8495-c3980057a7f7"},{"parameters":{"method":"POST","url":"https://api.fireflies.ai/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"query Transcript($transcriptId: String!) { transcript(id: $transcriptId) { id title transcript_url audio_url sentences { raw_text speaker_name } summary { keywords action_items } }}\",\n  \"variables\": {\n    \"transcriptId\": \"{{ $json.body.meetingId }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4272,960],"id":"c30b0ee1-57be-4469-bd65-948ad8646515","name":"Transcription"},{"parameters":{"fieldToSplitOut":"data.transcript.sentences","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-4080,960],"id":"90c8cefc-77a2-4d10-8141-dee6e7349ab3","name":"Split Out"},{"parameters":{"jsCode":"const items = $input.all();\nlet transcript = \"\";\nlet previousSpeaker = \"\";\n\nfor (const item of items) {\n  const { speaker_name, raw_text } = item.json;\n  \n  if (speaker_name === previousSpeaker) {\n    transcript += \" \" + raw_text;\n  } else {\n    if (transcript !== \"\") {\n      transcript += \" \";\n    }\n    transcript += `{${speaker_name}} : ${raw_text}`;\n  }\n  \n  previousSpeaker = speaker_name;\n}\n\nreturn [{ transcript }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3888,960],"id":"eb1c5133-274a-45f6-8767-d6b943a528ab","name":"Reformat"},{"parameters":{"method":"POST","url":"https://api.fireflies.ai/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"query MeetingSummary($transcriptId: String!) { transcript(id: $transcriptId) { summary { action_items keywords outline shorthand_bullet gist short_summary topics_discussed transcript_chapters } } }\",\n  \"variables\": {\n    \"transcriptId\": \"{{ $('Fireflies - New Transcription ').last().json.body.meetingId }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3712,960],"id":"fb8b6222-32ba-4a71-9b05-0e83e61dbbac","name":"Other Details"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Below is the action items for a recent online meeting. \n\nThe action items are each aimed at one person. \n\nReformat the action items the following JSON format: \n\n{ \n\"tasks\": \n\"[Person1 Name]\": {\n[\n{ \n\"taskTitle\": \"[TITLE]\",\n\"taskDetails\": \"[DETAILS]\"\n},\n{ \n\"taskTitle\": \"[TITLE]\",\n\"taskDetails\": \"[DETAILS]\"\n},\n...\n]\n},\n\"[Person2 Name]\": {\n[\n{ \n\"taskTitle\": \"[TITLE]\",\n\"taskDetails\": \"[DETAILS]\"\n},\n{ \n\"taskTitle\": \"[TITLE]\",\n\"taskDetails\": \"[DETAILS]\"\n},\n...\n]\n}\n\nDon't output anything else. Don't wrap the output in ```json```. \n\nHere's the meeting action items you must reformat:\n\n{{ $('Other Details').item.json.data.transcript.summary.action_items }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3056,944],"id":"d0bd3b9e-1419-4960-820f-80ef774f0803","name":"Reformat Tasks"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.message.content }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2688,944],"id":"753c35c3-7c29-4211-bbe6-c3f0e8195cc2","name":"JSON"},{"parameters":{"method":"POST","url":"https://api.fireflies.ai/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"query MeetingAttendees($transcriptId: String!) { transcript(id: $transcriptId) { meeting_attendees { email displayName name } } }\",\n  \"variables\": {\n    \"transcriptId\": \"{{ $('Fireflies - New Transcription ').last().json.body.meetingId }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3520,960],"id":"040d6a97-350a-4bac-9e44-558a05084bdf","name":"Meeting Attendees"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.data.transcript.meeting_attendees[1].email }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"properties","value":"firstname,lastname,email,phone,jobtitle"},{"name":"archived","value":"false"},{"name":"idProperty","value":"email"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3312,960],"id":"28fc48e5-13bc-4feb-9722-453f9cdac806","name":"Find ContactID","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/notes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"properties\": {\n    \"hs_note_body\": \"{{ JSON.stringify($('HTML').last().json.html).slice(1,-1) }}\",\n    \"hs_timestamp\": \"{{ $now.toISO() }}\"\n  },\n  \"associations\": [\n    {\n      \"to\": {\n        \"id\": \"{{ $('Find ContactID').last().json.id }}\"\n      },\n      \"types\": [\n        {\n          \"associationCategory\": \"HUBSPOT_DEFINED\",\n          \"associationTypeId\": 202\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1040,944],"id":"0870b66d-91cd-4b28-8efb-4e9c08c910b5","name":"Add Call as Notes"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Meeting Report</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      margin: 20px;\n    }\n    h1 {\n      font-size: 24px;\n      margin-bottom: 10px;\n    }\n    h2 {\n      font-size: 20px;\n      margin-top: 20px;\n      margin-bottom: 10px;\n    }\n    p {\n      font-size: 16px;\n      line-height: 1.5;\n    }\n  </style>\n</head>\n<body>\n  <h1> Meeting: {{ $('Transcription').last().json.data.transcript.title }}</h1>\n  \n  <h2>Summary</h2>\n  <p>{{ $('Create Summary').last().json.message.content }}</p>\n\n  <h2>Action Items</h2>\n  <p>{{ $('Reformat Action Items').item.json.message.content }}</p>\n\n  <p>Access the recording URL <a href=\"{{ $('Transcription').last().json.data.transcript.transcript_url }}\">HERE</a></p>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1248,944],"id":"40e80c6e-6018-43bc-8679-2bdae9034dc4","name":"HTML"},{"parameters":{"fieldToSplitOut":"tasks[\"Kamexa AI\"]","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2448,944],"id":"461a766c-98dc-4fa2-8c7d-4c0b6380cf83","name":"Split Kia - Tasks","alwaysOutputData":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Convert the following markdown into HTML: \n\n{{ $('Other Details').last().json.data.transcript.summary.action_items }}\n\nMake it into dot point format.\n\n\nDon't wrap the output in ```html```. Start with <p>. \n\nOutput only the reformatted HTML and nothing else."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1568,944],"id":"3fceb22d-e32a-4b89-93c6-1bf8ef2f6b35","name":"Reformat Action Items"},{"parameters":{"authentication":"oAuth2","workspace":"1207797859868521","name":"={{ $('Find ContactID').item.json.properties.firstname }} {{ $('Find ContactID').item.json.properties.lastname }}: {{ $('Split Kia - Tasks').item.json.taskTitle }}","otherProperties":{"assignee":"1207797717695449","assignee_status":"today","notes":"={{ $json.taskDetails }}","projects":["1209576424642317"]}},"type":"n8n-nodes-base.asana","typeVersion":1,"position":[-2240,944],"id":"16689e7c-4c6c-49f0-89dd-d6f7084f1cae","name":"Create Tasks"},{"parameters":{"content":"# Transcription + Tasks \n","height":384,"width":4460,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-4592,800],"typeVersion":1,"id":"0b8b3ed7-1692-45c5-bd44-e4d96663b1be","name":"Sticky Note"},{"parameters":{"modelId":{"__rl":true,"value":"o1-mini","mode":"list","cachedResultName":"O1-MINI"},"messages":{"values":[{"content":"=You are a consultation effectiveness analyst at Kamexa, an AI and automation agency that provides automation consulting and custom automation development services. \n\nYour role is to review transcriptions of client consultations and evaluate how effectively the consultant conducted the session. \n\nThe goal is to provide actionable feedback to help the sales and consultation team improve their performance.\n\nFor each consultation transcription, analyse the following aspects of the consultant's performance:\n\n1. **Question Quality**: Did the consultant ask open-ended, insightful questions to understand the client's needs, challenges, and goals?\n2. **Clarity of Explanations**: Did the consultant explain automation concepts and solutions clearly, avoiding jargon or ensuring it was understood by the client?\n3. **Identification of Pain Points and Goals**: Did the consultant accurately identify and summarise the client's main challenges and objectives?\n4. **Suggestions for Automation Solutions**: Did the consultant propose specific, relevant automation ideas tailored to the client's needs?\n5. **Handling Objections**: How well did the consultant address any concerns or hesitations expressed by the client?\n6. **Call-to-Action**: Did the consultant provide a clear next step or action for the client to take?\n\nFor each aspect, provide:\n- **Evaluation**: Positive, Negative, or Neutral\n- **Details**: Specific examples from the transcription that support your evaluation. If there are multiple points, use an unordered list (<ul>) with <li> for each point.\n- **Recommendation**: Suggestions for improvement or ways to maintain this aspect. If there are multiple suggestions, use an unordered list (<ul>) with <li> for each suggestion.\n\nAdditionally, provide an **Overall Assessment** of the consultation's effectiveness, summarising the key strengths and areas for improvement.\n\nYour output must be in **HTML format**, suitable for embedding directly into an email body. Use the following structure:\n\n<h2>Consultation Effectiveness Analysis</h2>\n\n<h3>1. Question Quality</h3>\n<p><strong>Evaluation:</strong> [Evaluation]</p>\n<p><strong>Details:</strong> [Details]</p>\n<p><strong>Recommendation:</strong> [Recommendation]</p>\n\n<h3>2. Clarity of Explanations</h3>\n<p><strong>Evaluation:</strong> [Evaluation]</p>\n<p><strong>Details:</strong> [Details]</p>\n<p><strong>Recommendation:</strong> [Recommendation]</p>\n\n<h3>3. Identification of Pain Points and Goals</h3>\n<p><strong>Evaluation:</strong> [Evaluation]</p>\n<p><strong>Details:</strong> [Details]</p>\n<p><strong>Recommendation:</strong> [Recommendation]</p>\n\n<h3>4. Suggestions for Automation Solutions</h3>\n<p><strong>Evaluation:</strong> [Evaluation]</p>\n<p><strong>Details:</strong> [Details]</p>\n<p><strong>Recommendation:</strong> [Recommendation]</p>\n\n<h3>5. Handling Objections</h3>\n<p><strong>Evaluation:</strong> [Evaluation]</p>\n<p><strong>Details:</strong> [Details]</p>\n<p><strong>Recommendation:</strong> [Recommendation]</p>\n\n<h3>6. Call-to-Action</h3>\n<p><strong>Evaluation:</strong> [Evaluation]</p>\n<p><strong>Details:</strong> [Details]</p>\n<p><strong>Recommendation:</strong> [Recommendation]</p>\n\n<h3>Overall Assessment</h3>\n<p><strong>Strengths:</strong> [Strengths]</p>\n<p><strong>Areas for Improvement:</strong> [Areas for Improvement]</p>\n<p><strong>Summary:</strong> [Summary]</p> \n\nDon't output anything else. Don't wrap the output in ```html```. \n\nAnalyse the following call transcription: \n\n{{ $('Reformat').last().json.transcript }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-32,1504],"id":"f3aa9106-b6a7-4dcb-b265-0bba4501e67b","name":"Analysis "},{"parameters":{"modelId":{"__rl":true,"value":"o1-mini","mode":"list","cachedResultName":"O1-MINI"},"messages":{"values":[{"content":"=You are part of the business development team at Kamexa, which is a AI and automation agency. \n\nAs a BDR your jobs it to ensure we build a relationship with clients over time. \n\nTo do this, you analyse the transcription of each consultation, to identify opportunities for followups. \n\nThese followup opportunities should either be: \n- Related to the clients interests. OR\n- Related to the clients plans and goals. \n\nYour goal is to follow them up on something that shows you care. The followup must not be related to Kamexa's services, rather it should be something personal for the client that by following up on we prove that we care and remembered them. \n\nFor each consultation you must identify the top 2 followup opportunities. \n\nYour output must be in the following format: \n\n[\n  {\n    \"followupOpportunityName\": \"[Followup Opportunity Name]\",\n    \"instructions\": \"[INSTRUCTIONS]\",\n    \"reason\": \"[REASON]\",\n    \"dueDate\": \"[ISO FORMAT]\"\n  },\n  {\n    \"followupOpportunityName\": \"[Followup Opportunity Name]\",\n    \"instructions\": \"[INSTRUCTIONS]\",\n    \"reason\": \"[REASON]\",\n    \"dueDate\": \"[ISO FORMAT]\"\n  }\n] \n\nWhere: \n\n- instructions defines how we should followup and what we should say. \n- reason outlines the context behind this interest. \n- dueDate identifies exactly when we should follow them up. The current date and time in ISO format is - {{ $now.toISO() }}\n\nDon't output anything else. Don't wrap the output in ```json```.\n\nA consultation just finished with the following transcription. Identify the top follow up opportunities: \n\n{{ $('Reformat').last().json.transcript }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-80,368],"id":"2bf13ed6-929e-487a-9a66-fe8cf011b7b5","name":"Followup - Interests"},{"parameters":{"modelId":{"__rl":true,"value":"o1-mini","mode":"list","cachedResultName":"O1-MINI"},"messages":{"values":[{"content":"=You are part of the business development team at Kamexa, which is a AI and automation agency.\n\nKamexa provides the following services: \n- Automation Consulting: consulting businesses in regards to automation. \n- Custom Automation Development: Kamexa develops custom automations for businesses. These could be automating the clients services, internal processes or even marketing efforts.  \n\nAs a BDR you ensure Kamexa does not miss any sales opportunities. \n\nTo do this, you analyse the transcription of each consultation, to identify the services in which the client expressed interest.\n\nYour output must be in the following format: \n\n# 1. [Opportunity Name]\nDetails: [DETAILS]\nReason: [REASON]\n\n# 2. [Opportunity Name]\nDetails: [DETAILS]\nReason: [REASON] \n\n...\n\nWhere: \n\n- Details is the details of the service the client was interested in. \n- Reason is the reason why you have identified this as a sales opportunity. \n\nDon't output anything else. \n\nOnly choose the most obvious opportunities from the transcription.\n\nA consultation just finished with the following transcription. Identify the top opportunities: \n\n{{ $('Reformat').last().json.transcript }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[16,944],"id":"e939680a-60e8-42d5-a415-0c1744e487ac","name":"Sales Opportunities"},{"parameters":{"sendTo":"lakshan@workwithaeontrix.com","subject":"=Consultation Analysis: {{ $('Transcription').last().json.data.transcript.title }}","message":"={{ $json.message.content }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[336,1504],"id":"852cff82-885f-490f-9bfa-f4eb19335c6d","name":"Send Email","webhookId":"6e30624a-972d-40d7-9013-ca93914badb5","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"authentication":"appToken","email":"={{ $('Find ContactID').last().json.properties.email }}","additionalFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"interested_services","value":"={{ $json.data }}"}]}},"options":{}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[896,848],"id":"f55bd372-e4a5-45a7-888f-78975a7e5234","name":"Add to Hubspot"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[688,848],"id":"4a1b2a90-6259-4783-8b1f-f08c7e5478ad","name":"Markdown to HTML"},{"parameters":{"authentication":"oAuth2","workspace":"1207797859868521","name":"=Sales Opportunity Followup: {{ $('Find ContactID').last().json.properties.firstname }} {{ $('Find ContactID').last().json.properties.lastname }}","otherProperties":{"assignee":"1207797717695449","assignee_status":"today","due_on":"={{ new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString() }}","notes":"={{ $json.message.content }}","projects":["1209576424642317"]}},"type":"n8n-nodes-base.asana","typeVersion":1,"position":[464,1072],"id":"c587c3cc-b669-4ffb-a4d1-a032694129d0","name":"Create Tasks1"},{"parameters":{"authentication":"appToken","email":"={{ $('Find ContactID').last().json.properties.email }}","additionalFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"interests","value":"={{ $json.followupOpportunityName }}: \n\nInstructions: {{ $json.instructions }}\n\nReason: {{ $json.reason }}"}]}},"options":{}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[752,240],"id":"76c642eb-d40d-41a2-b87a-39b501516c88","name":"Add to Hubspot1"},{"parameters":{"mode":"raw","jsonOutput":"={ \n\"data\": \n{{ $json.message.content }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,368],"id":"6c6b0d4e-b133-424d-b1a4-01410f7f11ab","name":"JSON1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,368],"id":"6e7cd47a-0a40-4ff8-8d9e-dc12d55deb89","name":"Split Out2"},{"parameters":{"authentication":"oAuth2","workspace":"1207797859868521","name":"={{ $('Find ContactID').last().json.properties.firstname }} {{ $('Find ContactID').last().json.properties.lastname }}: Followup {{ $json.followupOpportunityName }}","otherProperties":{"assignee":"1207797717695449","assignee_status":"upcoming","due_on":"={{ $json.dueDate }}","notes":"=Instructions: {{ $json.instructions }}\n\nContext: {{ $json.reason }}","projects":["1209576424642317"]}},"type":"n8n-nodes-base.asana","typeVersion":1,"position":[768,480],"id":"7925a4d9-f299-4477-aa05-bd275f5b7945","name":"Create Tasks2"},{"parameters":{"content":"# Interests\n \n","height":500,"width":1104,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-128,160],"typeVersion":1,"id":"9abe97f4-aeef-42fe-beb3-5ad1d0e00a9f","name":"Sticky Note1"},{"parameters":{"content":"# Sales Opportunities\n \n","height":500,"width":1188,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-64,736],"typeVersion":1,"id":"f5e13ad4-d3b0-4751-a86d-2a1bb4c1bcb5","name":"Sticky Note2"},{"parameters":{"content":"# Call Analysis \n \n","height":500,"width":660,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-128,1296],"typeVersion":1,"id":"6f8c9e27-f105-4591-b9d2-e16fef8d1b0b","name":"Sticky Note3"},{"parameters":{"modelId":{"__rl":true,"value":"o1-mini","mode":"list","cachedResultName":"O1-MINI"},"messages":{"values":[{"content":"=Create a summary of the following call transcription.\n\nYour output must be using dot points and be in HTML format. Make sure to extract all the important points.\n\nDon't wrap the output in ```html. Don't output anything other than the summarisation of the call. \n\n{{ $('Reformat').last().json.transcript }}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1888,944],"id":"ae5334c5-fec8-472c-8094-f9a9e41452d7","name":"Create Summary"},{"parameters":{"content":"# Tasks - NOW\n\n","height":380,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2320,800],"typeVersion":1,"id":"dadf5f7e-fcc7-4832-b2ab-8f6a7b0c8bff","name":"Sticky Note4"},{"parameters":{"content":"# HubSpot","height":412,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1120,784],"typeVersion":1,"id":"f56295b9-9319-4118-8ff6-a0377523391f","name":"Sticky Note5"},{"parameters":{"content":"# HubSpot","height":300,"width":248,"color":4},"type":"n8n-nodes-base.stickyNote","position":[848,752],"typeVersion":1,"id":"d76b18c6-e5f7-42d0-a07b-61d432ef112c","name":"Sticky Note6"},{"parameters":{"content":"# Email Report\n","height":300,"width":280,"color":4},"type":"n8n-nodes-base.stickyNote","position":[240,1408],"typeVersion":1,"id":"3991ae09-d7dd-425b-ade4-4c2d94d1ddde","name":"Sticky Note8"},{"parameters":{"content":"# Task","height":260,"width":280,"color":4},"type":"n8n-nodes-base.stickyNote","position":[672,400],"typeVersion":1,"id":"3a5d02b5-8fe4-4be1-afdc-5dcc5cddd868","name":"Sticky Note9"},{"parameters":{"content":"# Task","height":220,"width":280,"color":4},"type":"n8n-nodes-base.stickyNote","position":[368,1008],"typeVersion":1,"id":"214bf776-efff-427d-af5a-39e015491165","name":"Sticky Note10"},{"parameters":{"content":"# HubSpot","height":240,"width":280,"color":4},"type":"n8n-nodes-base.stickyNote","position":[672,160],"typeVersion":1,"id":"99471309-78a4-4711-b54d-f4504f3db943","name":"Sticky Note7"},{"parameters":{"assignments":{"assignments":[{"id":"6751e7ba-38e1-48e7-8c04-66077c380106","name":"content","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,848],"id":"8cb5925c-76a3-45b0-b159-8551a10f3540","name":"Extract Field"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67ad2ab8-aaef-4588-b8bb-7235486026d0","leftValue":"={{ $json.analyse }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,944],"id":"1a612844-a1bd-4a26-a60c-77be6801ee44","name":"If"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Below is the summary of a call. \n\nBased on the call summary you must decide whether the call is a first time consultation or not. \n\nIf the call is a first time consultation, your output must be: \n\n{\n\"analyse\": true\n}\n\n\n\nOtherwise it should be: \n\n{\n\"analyse\": false\n}\n\nDon't output anything else. Don't wrap the output in ```html. \n\nCall summary: \n\n {{ $('Create Summary').last().json.message.content }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-832,944],"id":"5bc830fb-2d8b-4752-a22d-f0b9799eca85","name":"Analyse Further?"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.message.content }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,944],"id":"50aca547-b1b3-4f4f-bd8b-2a82cde098d8","name":"JSON2"},{"parameters":{"authentication":"appToken","email":"={{ $json.data.transcript.meeting_attendees[1].email }}","additionalFields":{"firstName":"={{ $json.data.transcript.meeting_attendees[1].displayName }}"},"options":{}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[-3168,1072],"id":"dd09de2f-66f4-414c-bdb9-d4148d6bdce5","name":"Add Contact ","onError":"continueRegularOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2048,944],"id":"9b05b59c-c2aa-4bc1-858b-2869c3d4f082","name":"Aggregate"},{"parameters":{"content":"[![Aeontrix Logo](https://aeontrix.com/logo-light.png)](https://aeontrix.com/)\n---\n## Want us to build an Advanced Version of this Setup for Your Business?\n[![Book a Free Discovery Call](https://dabuttonfactory.com/button.png?t=Book+a+Free+Discovery+Call\\&f=Open+Sans-Bold\\&ts=24\\&tc=000\\&hp=45\\&vp=20\\&c=10\\&bgt=unicolored\\&bgc=00ff93\\&be=1\\&bs=1\\&bc=000)](https://cal.com/aeontrix-ai/aeontrix-discovery)\n---\n## Learn More on Our Blog\n[![Read Our Blogs](https://dabuttonfactory.com/button.png?t=Blogs\\&f=Open+Sans-Bold\\&ts=25\\&tc=000\\&hp=45\\&vp=20\\&w=400\\&h=50\\&c=10\\&bgt=unicolored\\&bgc=00ff93\\&be=1\\&bs=1\\&bc=000)](https://aeontrix.com/blogs)","height":448,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4880,768],"id":"dcf2e5ec-9918-4bb4-86b7-2cf0a4c7d603","name":"Sticky Note11"}],"connections":{"Fireflies - New Transcription ":{"main":[[{"node":"Transcription","type":"main","index":0}]]},"Transcription":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Reformat","type":"main","index":0}]]},"Reformat":{"main":[[{"node":"Other Details","type":"main","index":0}]]},"Other Details":{"main":[[{"node":"Meeting Attendees","type":"main","index":0}]]},"Reformat Tasks":{"main":[[{"node":"JSON","type":"main","index":0}]]},"JSON":{"main":[[{"node":"Split Kia - Tasks","type":"main","index":0}]]},"Meeting Attendees":{"main":[[{"node":"Find ContactID","type":"main","index":0}]]},"Find ContactID":{"main":[[{"node":"Reformat Tasks","type":"main","index":0}],[{"node":"Add Contact ","type":"main","index":0}]]},"Add Call as Notes":{"main":[[{"node":"Analyse Further?","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Add Call as Notes","type":"main","index":0}]]},"Split Kia - Tasks":{"main":[[{"node":"Create Tasks","type":"main","index":0}]]},"Reformat Action Items":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Create Tasks":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Analysis ":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Sales Opportunities":{"main":[[{"node":"Extract Field","type":"main","index":0},{"node":"Create Tasks1","type":"main","index":0}]]},"Markdown to HTML":{"main":[[{"node":"Add to Hubspot","type":"main","index":0}]]},"Followup - Interests":{"main":[[{"node":"JSON1","type":"main","index":0}]]},"JSON1":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Create Tasks2","type":"main","index":0},{"node":"Add to Hubspot1","type":"main","index":0}]]},"Create Summary":{"main":[[{"node":"Reformat Action Items","type":"main","index":0}]]},"Extract Field":{"main":[[{"node":"Markdown to HTML","type":"main","index":0}]]},"Analyse Further?":{"main":[[{"node":"JSON2","type":"main","index":0}]]},"If":{"main":[[{"node":"Followup - Interests","type":"main","index":0},{"node":"Sales Opportunities","type":"main","index":0},{"node":"Analysis ","type":"main","index":0}]]},"JSON2":{"main":[[{"node":"If","type":"main","index":0}]]},"Add Contact ":{"main":[[{"node":"Find ContactID","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Create Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a06d3ea4-2052-4d42-97b6-2ca82889b7b7","triggerCount":0,"shared":[{"createdAt":"2025-08-06T12:48:51.318Z","updatedAt":"2025-08-06T12:48:51.318Z","role":"workflow:owner","workflowId":"2s8eda2GFpb2vUi7","projectId":"i91f6c4SGnMsAUAz"}],"tags":[]}