workflows/Product AD Creative.json
{"createdAt":"2025-09-20T17:33:25.056Z","updatedAt":"2025-09-20T17:33:49.000Z","id":"2yEv3bwa8SZv7NIA","name":"Product AD Creative","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Ad Image Generator","formDescription":"Provide brand and product info, and an optional reference image to generate image variations with AI.","formFields":{"values":[{"fieldLabel":"Brand Name","requiredField":true},{"fieldLabel":"Brand Website","requiredField":true},{"fieldLabel":"Ad Image","fieldType":"file","multipleFiles":false,"requiredField":true}]},"options":{},"path":"53f7da11-3248-42a2-afe9-777f329b83a1"},"id":"cf9f1997-e7a1-4ac3-bcc7-eccf4efb4f1e","name":"Submit Brand Info + Image","type":"n8n-nodes-base.formTrigger","position":[-256,208],"webhookId":"53f7da11-3248-42a2-afe9-777f329b83a1","typeVersion":2.2},{"parameters":{"inputDataFieldName":"Ad_Image","name":"={{ $json['Ad Image'].filename }} (Original)","driveId":{"__rl":true,"mode":"list","value":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive","cachedResultName":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"YOUR_FOLDER_ID_HERE","cachedResultUrl":"","cachedResultName":"Your Folder Name"},"options":{}},"id":"56f729e0-d732-4745-a764-485ea6fada4c","name":" Upload Ad Image to Google Drive","type":"n8n-nodes-base.googleDrive","position":[0,0],"typeVersion":3},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $(' Upload Ad Image to Google Drive').item.json.id }}"},"options":{}},"id":"c4cb6f3e-91a3-42a9-bfd3-0ea32e880a38","name":"Download Ad Image for Analysis","type":"n8n-nodes-base.googleDrive","position":[0,208],"typeVersion":3},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"GPT-4O"},"text":"Describe the visual style, subject matter, and composition of this image. Is it a lifestyle image, a product-only shot, or a combination? Include lighting style and camera angle if possible.","inputType":"base64","options":{}},"id":"59f5c84d-9b34-4307-b34c-aed435bb9e97","name":"Describe Visual Style of Image","type":"@n8n/n8n-nodes-langchain.openAi","position":[192,208],"typeVersion":1.8},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"=You are a visual brand strategist and art director for direct-to-consumer (DTC) e-commerce brands.\n\nPlease analyze the following brand website. Focus **only** on the brand's **visual aesthetic**, including:\n\n- Color palette\n- Photography style and lighting\n- Imagery themes (e.g. lifestyle vs. product shots)\n- Mood or tone evoked by visuals\n- Any repeating design elements or layout patterns\n\nBe descriptive but concise. The output will be used to help design consistent and creative AI-generated images for ad creatives – so focus entirely on the visual look and feel.\n\n\nBrand Website: {{ $('Submit Brand Info + Image').item.json['Brand Website'] }}\nBrand Name: {{ $('Submit Brand Info + Image').item.json['Brand Name'] }}\n"}]},"options":{}},"id":"ca4a4c5c-8070-4788-b922-de436b5d7e7c","name":"Analyze Brand Website Style","type":"@n8n/n8n-nodes-langchain.openAi","position":[352,0],"typeVersion":1.8},{"parameters":{"promptType":"define","text":"=Your task is to generate 10 tightly related visual variations of a reference ad image - not new concepts. These prompts are for testing subtle creative changes on Facebook/Instagram ads while preserving the original subject and composition.\n\nReference Materials:\nBrand Info: {{ $('Submit Brand Info + Image').item.json['Brand Name'] }}\nWebsite: {{ $('Submit Brand Info + Image').item.json['Brand Website'] }}\nVisual Aesthetics: {{ $json.message.content }}\nReference Image: {{ $('Describe Visual Style of Image').item.json.content }}\n\nFor each of the 10 prompts:\n- Preserve the reference image's subject\n- Only vary the background, environment, mood, lighting, or color treatment\n- Use vivid, sensory language\n- Always include aspect ratio (1:1 or 4:5)\n- Never introduce logos or major subject changes\n\nReturn only a JSON array of 10 objects with \"prompt\" property.","hasOutputParser":true,"options":{"systemMessage":"=Brand Name: {{ $('Submit Brand Info + Image').item.json['Brand Name'] }}\nWebsite: {{ $('Submit Brand Info + Image').item.json['Brand Website'] }}\nReference Ad Description: {{ $('Describe Visual Style of Image').item.json.content }}\nVisual Style Overview: {{ $json.message.content }}\n\nYour task is to generate **10 tightly related visual variations** of a reference ad image – not new concepts. These prompts are for testing subtle creative changes on Facebook/Instagram ads (e.g., backdrop, mood, color, lighting) while preserving the original subject and composition.\n\n### Reference Materials:\n\n**Brand Info**: {{ $('Submit Brand Info + Image').item.json['Brand Name'] }}\n**Website**:  {{ $('Submit Brand Info + Image').item.json['Brand Website'] }}\n**Visual Aesthetics Guideline**: {{ $json.message.content }}\n**Reference Image Description**: {{ $('Describe Visual Style of Image').item.json.content }}\n\nUse the Reference Image Description to ground your concepts in visual reality – the new prompts should **feel like believable variations** of this original ad image in terms of camera angle, lighting, and context, while introducing fresh concepts or creative twists.\n\n### For each of the 10 prompts:\n\n- **Preserve** the reference image's subject (product, camera angle, core framing)\n- **Only vary** the background, environment, mood, lighting, or color treatment\n- Examples of variation types:\n  - Daylight vs sunset lighting\n  - Poolside vs marble countertop\n  - Lavender tones vs beach sand tones\n  - Summer vibe vs spa-like calm\n- Use vivid, sensory language to describe each variation\n- Always include **aspect ratio** (1:1 or 4:5)\n- Never introduce logos, overlays, or major subject changes\n\nThe goal is to create **subtle, performance-testable image variations**, not entirely new compositions.\n\nPlease return **only** a JSON array of 10 objects, each with a single property `\"prompt\"` containing the image prompt. Example output structure:\n\n[\n  {\n    \"prompt\": \"Sun-drenched poolside shot of the product on a marble ledge at golden hour, with soft shadows and warm tones. Aspect ratio 1:1.\"\n  },\n  {\n    \"prompt\": \"Cool lavender-tinted sunset beach backdrop behind the product, highlighting reflective metallic accents. Aspect ratio 4:5.\"\n  },\n  {\n    \"prompt\": \"...\"\n  }\n]"}},"id":"c9a444a2-5b49-48a3-8fb4-5e50535681dd","name":"LangChain Agent: Generate Variation Prompts","type":"@n8n/n8n-nodes-langchain.agent","position":[384,208],"typeVersion":1.7},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"prompt\": \"Sun-drenched poolside shot of the product on a marble ledge at golden hour, with soft shadows and warm tones. Aspect ratio 1:1.\"\n  },\n  {\n    \"prompt\": \"Cool lavender-tinted sunset beach backdrop behind the product, highlighting reflective metallic accents. Aspect ratio 4:5.\"\n  },\n  {\n    \"prompt\": \"...\"\n  }\n]"},"id":"1e33d366-d149-45f5-bd9c-c26c620ff51e","name":"Parse Prompts into JSON Array","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[544,368],"typeVersion":1.2},{"parameters":{"fieldToSplitOut":"output","options":{}},"id":"5d372f6e-bd15-4f81-8eee-19e022f2e97c","name":"Split: One Prompt per Item","type":"n8n-nodes-base.splitOut","position":[736,0],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $(' Upload Ad Image to Google Drive').item.json.id }}"},"options":{}},"id":"bde0c606-b3a0-4d33-acb1-156d081de57d","name":"Download Base Image for Each Variation","type":"n8n-nodes-base.googleDrive","position":[736,208],"typeVersion":3},{"parameters":{"options":{}},"id":"ede33159-e171-47d0-a454-56ec8d150311","name":"Loop: Process Image Variations","type":"n8n-nodes-base.splitInBatches","position":[960,208],"typeVersion":3},{"parameters":{"method":"POST","url":"YOUR_AI_IMAGE_GENERATION_API_ENDPOINT","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"YOUR_MODEL_NAME\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"1:1\"\n  }\n}","options":{}},"id":"4ecd1297-2bf2-4ce2-bae0-5ef554de1d00","name":"Generate Image Variation","type":"n8n-nodes-base.httpRequest","position":[1120,0],"typeVersion":4.2},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"list","cachedResultName":"Your Sheet Name","cachedResultUrl":""},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":""},"columns":{"mappingMode":"defineBelow","value":{"Image URL":"={{ $json.images[0].url }}"},"matchingColumns":["Image URL"],"schema":[{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"a92cf81e-03bb-4d05-8258-50706bb1fc78","name":" Log Image Variation URLs to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[1280,208],"typeVersion":4.6},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"12f2d3f3-b76d-40fd-9bdf-8dce1c7bf557","name":"GPT-4o (Connected to LangChain Agent)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[384,368],"typeVersion":1.2}],"connections":{"Submit Brand Info + Image":{"main":[[{"node":" Upload Ad Image to Google Drive","type":"main","index":0}]]},"Split: One Prompt per Item":{"main":[[{"node":"Download Base Image for Each Variation","type":"main","index":0}]]},"Analyze Brand Website Style":{"main":[[{"node":"LangChain Agent: Generate Variation Prompts","type":"main","index":0}]]},"Parse Prompts into JSON Array":{"ai_outputParser":[[{"node":"LangChain Agent: Generate Variation Prompts","type":"ai_outputParser","index":0}]]},"Describe Visual Style of Image":{"main":[[{"node":"Analyze Brand Website Style","type":"main","index":0}]]},"Download Ad Image for Analysis":{"main":[[{"node":"Describe Visual Style of Image","type":"main","index":0}]]},"Loop: Process Image Variations":{"main":[[],[{"node":"Generate Image Variation","type":"main","index":0}]]}," Upload Ad Image to Google Drive":{"main":[[{"node":"Download Ad Image for Analysis","type":"main","index":0}]]},"Generate Image Variation":{"main":[[{"node":" Log Image Variation URLs to Google Sheets","type":"main","index":0}]]},"GPT-4o (Connected to LangChain Agent)":{"ai_languageModel":[[{"node":"LangChain Agent: Generate Variation Prompts","type":"ai_languageModel","index":0}]]},"Download Base Image for Each Variation":{"main":[[{"node":"Loop: Process Image Variations","type":"main","index":0}]]}," Log Image Variation URLs to Google Sheets":{"main":[[{"node":"Loop: Process Image Variations","type":"main","index":0}]]},"LangChain Agent: Generate Variation Prompts":{"main":[[{"node":"Split: One Prompt per Item","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"eded68ed-64e7-4160-8f7f-f3c0c27823e1","triggerCount":0,"shared":[{"createdAt":"2025-09-20T17:33:25.085Z","updatedAt":"2025-09-20T17:33:25.085Z","role":"workflow:owner","workflowId":"2yEv3bwa8SZv7NIA","projectId":"i91f6c4SGnMsAUAz"}],"tags":[{"createdAt":"2025-08-26T17:18:22.471Z","updatedAt":"2025-08-26T17:18:22.471Z","id":"yYnYXXy8mfnJYoku","name":"Aeontrix Marketing Demo"}]}