workflows/Twitter & YT Research.json
{"createdAt":"2025-07-30T11:52:59.472Z","updatedAt":"2025-09-20T18:05:20.000Z","id":"0661YUvUPVGuDBvO","name":"Twitter & YT Research","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"appsRnTdolcYkczOD","mode":"id"},"tableId":{"__rl":true,"value":"tblVHRK6AiuSAqozq","mode":"id"},"triggerField":"Created","additionalFields":{}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-736,2240],"id":"e2016c90-b39c-45ae-8613-b5fb434129ca","name":"Airtable Trigger"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"starting","operator":{"type":"object","operation":"exists","singleValue":true},"id":"627638b4-b203-4426-97e0-9b4564c438f3"}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc9f9ec4-79b8-470f-9f1c-2bb4cea2a4b5","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"not completed"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[224,2240],"id":"68dd64a6-eb1b-480b-a55f-1659be689149","name":"Switch"},{"parameters":{"method":"POST","url":"https://video-trimmer-1092214094999.us-central1.run.app/download","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"api_key","value":"[your API KEY]"},{"name":"video_url","value":"={{ $json.fields['VIdeo URL'] }}"},{"name":"format","value":"mp3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,2240],"id":"c12f50d9-a1f0-4512-bf36-fc4a7defdf2e","name":"Download MP3"},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/files","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer [[api key]"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"content","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,2240],"id":"e61eda4d-8970-4507-9a1d-fb74d6bfefc6","name":"Upload File"},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/predictions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer [api key]"},{"name":"Prefer","value":"wait"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"version\": \"vaibhavs10/incredibly-fast-whisper:3ab86df6c8f54c11309d4d1f930ac292bad43ace52d10c80d87eb258b3c9f79c\",\n  \"input\": {\n    \"task\": \"transcribe\",\n    \"audio\": \"{{ $json.urls.get }}\",\n    \"language\": \"None\",\n    \"timestamp\": \"chunk\",\n    \"batch_size\": 64,\n    \"diarise_audio\": false\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,2240],"id":"1b014f2f-7218-45fb-a765-bdb2d9b97cf2","name":"Generate Transcripts"},{"parameters":{"url":"=https://api.replicate.com/v1/predictions/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer [api key]"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,2368],"id":"27ed86ef-6bf7-4174-a388-565b584689e3","name":"Get Result"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appsRnTdolcYkczOD","mode":"id"},"table":{"__rl":true,"value":"tblVHRK6AiuSAqozq","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Transcript":"={{ $json.output.text }}","id":"={{ $('Airtable Trigger').item.json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"VIdeo URL","displayName":"VIdeo URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Thumbnail","displayName":"Thumbnail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[608,2160],"id":"16a43f1b-8109-4a8d-baf6-319052a634d4","name":"Airtable"},{"parameters":{"url":"=https://img.youtube.com/vi/{{ $json.fields['VIdeo URL'].split('v=')[1] }}/mqdefault.jpg","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,2480],"id":"ed53f432-d0b3-4041-9030-c4e71f4a786f","name":"Grab Thumbnail"},{"parameters":{"method":"POST","url":"=https://content.airtable.com/v0/appsRnTdolcYkczOD/{{ $('Airtable Trigger').item.json.id }}/Thumbnail/uploadAttachment","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"contentType","value":"=image/jpeg"},{"name":"file","value":"={{ $json.data }}"},{"name":"filename","value":"=mqdefault.jpg"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,2480],"id":"f4f8cf31-4473-446c-8c7f-a3a78d85a7b9","name":"Upload to Airtable"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-256,2480],"id":"2c13795b-a178-4751-bbf0-94acd37c5656","name":"Extract from File"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"appsRnTdolcYkczOD","mode":"id"},"tableId":{"__rl":true,"value":"tblcig1Y3Co6qrqoE","mode":"id"},"triggerField":"Created","additionalFields":{}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[112,1440],"id":"33d91bbb-f868-44fc-9c4d-3522db02d10c","name":"Airtable Trigger1"},{"parameters":{"url":"=https://express-bridge-twitter-scraper.vercel.app/tweets/{{ $json.fields.Username.split('@')[1] }}?maxTweets={{ $json.fields['Max Tweets'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,1184],"id":"380e2b06-387a-4a5f-9bf9-ebdf58273dfe","name":"Get Tweets","retryOnFail":true,"maxTries":5},{"parameters":{"promptType":"define","text":"=You are an expert Twitter content analyst. Based on the following Twitter profile and recent tweets data, create a comprehensive JSON context profile that fully encapsulates this user's Twitter presence.\n\nProfile Data:\n{{ JSON.stringify($('Aggregate').item.json.data[1].profile, null, 2) }}\n\nRecent Tweets (last {{ $('Get Tweets').item.json.tweets.length }}):\n{{ JSON.stringify($('Aggregate').item.json.data[0].tweets, null, 2) }}\n\nAnalyze this data and create a comprehensive JSON profile with the following structure:\n\n{\n  \"username\": \"${username}\",\n  \"profileSummary\": {\n    \"displayName\": \"...\",\n    \"bio\": \"...\",\n    \"followerCount\": number,\n    \"followingCount\": number,\n    \"tweetCount\": number,\n    \"location\": \"...\",\n    \"website\": \"...\",\n    \"joinDate\": \"...\"\n  },\n  \"contentNiche\": {\n    \"primaryTopic\": \"...\",\n    \"secondaryTopics\": [\"...\", \"...\"],\n    \"expertise\": \"...\",\n    \"targetAudience\": \"...\"\n  },\n  \"writingStyle\": {\n    \"tone\": \"...\",\n    \"personality\": \"...\",\n    \"commonLanguagePatterns\": [\"...\", \"...\"],\n    \"emojiUsage\": \"...\",\n    \"avgTweetLength\": number,\n    \"formalityLevel\": \"...\"\n  },\n  \"contentStrategy\": {\n    \"postingFrequency\": \"...\",\n    \"bestPerformingContentTypes\": [\"...\", \"...\"],\n    \"engagementPatterns\": \"...\",\n    \"hashtagUsage\": \"...\",\n    \"mentionStrategy\": \"...\"\n  },\n  \"hookStrategy\": {\n    \"commonHookTypes\": [\"...\", \"...\"],\n    \"attentionGrabbingTechniques\": [\"...\", \"...\"],\n    \"questionUsage\": \"...\",\n    \"storytellingApproach\": \"...\"\n  },\n  \"topPerformingTweets\": [\n    {\n      \"text\": \"...\",\n      \"engagement\": {\n        \"likes\": number,\n        \"retweets\": number,\n        \"replies\": number,\n        \"quotes\": number\n      },\n      \"hookAnalysis\": \"...\",\n      \"whyItWorked\": \"...\"\n    }\n  ],\n  \"hookExamples\": [\n    {\n      \"hook\": \"...\",\n      \"type\": \"...\",\n      \"effectiveness\": \"...\",\n      \"context\": \"...\"\n    }\n  ],\n  \"contentExamples\": {\n    \"threads\": [\"...\"],\n    \"insights\": [\"...\"],\n    \"questions\": [\"...\"],\n    \"stories\": [\"...\"],\n    \"tips\": [\"...\"]\n  },\n  \"engagementInsights\": {\n    \"avgLikes\": number,\n    \"avgRetweets\": number,\n    \"avgReplies\": number,\n    \"engagementRate\": \"...\",\n    \"bestTimeToPost\": \"...\"\n  },\n  \"contentPillars\": [\"...\", \"...\", \"...\"],\n  \"uniqueValueProposition\": \"...\",\n  \"recommendedContentTypes\": [\"...\", \"...\"],\n  \"voiceAndToneGuidelines\": \"...\"\n}\n\nProvide a comprehensive, accurate, and detailed analysis. Focus on patterns, consistency, and what makes this user's content engaging. Include specific examples and actionable insights that would help someone understand and potentially emulate this user's Twitter strategy.\n\nReturn only the JSON object, no additional text or formatting.`","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[624,1424],"id":"c1eec404-bdaa-407d-846e-2563d128b911","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"Claude Sonnet 4"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[608,1584],"id":"f5cc4e25-3bc7-430d-a630-0f68c699552a","name":"Anthropic Chat Model"},{"parameters":{"url":"=https://express-bridge-twitter-scraper.vercel.app/profile/{{ $json.fields.Username.split('@')[1] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,1744],"id":"0e1dff33-2405-4d1d-8bbe-d1dd3f5bbe55","name":"Get Profile Data","retryOnFail":true,"maxTries":5},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[352,1424],"id":"a421b078-dd56-42f3-a0b1-3c250baf8013","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[480,1424],"id":"09ec2fc4-f841-448d-bb09-a77dcae9bf6b","name":"Aggregate"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appsRnTdolcYkczOD","mode":"id"},"table":{"__rl":true,"value":"tblcig1Y3Co6qrqoE","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Airtable Trigger1').item.json.id }}","Context Profile":"={{ $json.text }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Context Profile","displayName":"Context Profile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Max Tweets","displayName":"Max Tweets","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"10","value":"10"},{"name":"20","value":"20"},{"name":"30","value":"30"},{"name":"50","value":"50"},{"name":"100","value":"100"}],"readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Img","displayName":"Img","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tweets","displayName":"Tweets","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[928,1424],"id":"9da8ed4f-a5b2-4cdc-912d-9738c59acafa","name":"Airtable1"},{"parameters":{"url":"={{ $json.profile.avatar }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,1744],"id":"d5e24799-24f6-44ae-ac06-6b06306f7930","name":"Grab Profile Pic"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[544,1744],"id":"1b0ccc27-f27e-4568-ada0-d4450337f567","name":"Extract from File1"},{"parameters":{"method":"POST","url":"=https://content.airtable.com/v0/appsRnTdolcYkczOD/{{ $('Airtable Trigger1').item.json.id }}/Img/uploadAttachment","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"contentType","value":"=image/jpeg"},{"name":"file","value":"={{ $json.data }}"},{"name":"filename","value":"=profilepic-{{ $('Airtable Trigger1').item.json.fields.Username }}.jpg"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,1744],"id":"a4f27d31-ed8e-48f8-8dc3-d6cfef534061","name":"Upload to Airtable1"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appsRnTdolcYkczOD","mode":"list","cachedResultName":"Content Alchemy OS","cachedResultUrl":"https://airtable.com/appsRnTdolcYkczOD"},"table":{"__rl":true,"value":"tblv7JBrPHiYwPaaA","mode":"list","cachedResultName":"Tweets","cachedResultUrl":"https://airtable.com/appsRnTdolcYkczOD/tblv7JBrPHiYwPaaA"},"columns":{"mappingMode":"defineBelow","value":{"Likes":"={{ $json.likes }}","Bookmarks":"={{ $json.bookmarkCount }}","Comments":"={{ $json.replies }}","Reposts":"={{ $json.retweets }}","Content":"={{ $json.text }}","Created":"={{ $json.timeParsed }}","URL":"={{ $json.permanentUrl }}","Views":"={{ $json.views }}","username":"={{ new Array($('Airtable Trigger1').item.json.fields.Username) }}"},"matchingColumns":[],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Bookmarks","displayName":"Bookmarks","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Comments","displayName":"Comments","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Reposts","displayName":"Reposts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Media","displayName":"Media","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[544,1184],"id":"4e0f1579-f8de-43af-a100-5db11659365c","name":"Airtable2"},{"parameters":{"fieldToSplitOut":"tweets","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[384,1184],"id":"78392c9c-f49a-4151-a40c-d9df1ad4b81d","name":"Split Out"},{"parameters":{"url":"={{ $('Split Out').item.json.photos[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,1168],"id":"400c0531-bdaa-49a7-8f19-a20765b05f6b","name":"Grab Media"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23ee083c-98e1-45db-924f-a1df813e79b0","leftValue":"={{ $('Split Out').item.json.photos }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,1184],"id":"e339c3b8-8b88-4a75-95f5-c3303c826431","name":"If"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1040,1168],"id":"7b87b939-64c4-4af7-b830-0d58d2f4d982","name":"Extract from File2"},{"parameters":{"method":"POST","url":"=https://content.airtable.com/v0/appsRnTdolcYkczOD/{{ $('Airtable2').item.json.id }}/Media/uploadAttachment","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"contentType","value":"=image/jpeg"},{"name":"file","value":"={{ $json.data }}"},{"name":"filename","value":"={{ $('Grab Media').item.json.fields.URL.split('status/')[1] }}.jpg"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,1168],"id":"41e4eeb3-0d4a-4d76-b5e8-426fdd5ab9c5","name":"Upload to Airtable2"},{"parameters":{"promptType":"define","text":"={{ $json.output.text }}","messages":{"messageValues":[{"message":"You are an expert video content analyst. I will provide you with a full video transcript, and I need you to create a comprehensive summary that captures all the essential information so I don't need to watch the video myself.  Please structure your summary as follows:  **1. Quick Overview (2-3 sentences)** - What type of content is this? (tutorial, interview, lecture, news, etc.) - Who is the main speaker/host? - What is the primary topic or purpose?  **2. Key Points & Main Arguments** - List the 5-7 most important points discussed - Include any main arguments, conclusions, or recommendations - Note any controversial or surprising statements  **3. Actionable Information** - Any specific steps, instructions, or how-to guidance - Tools, resources, or references mentioned - Dates, numbers, or concrete data points  **4. Notable Quotes** - 2-3 most impactful or memorable quotes from the speaker(s) - Any particularly insightful or quotable moments  **5. Context & Background** - Relevant background information provided - Any assumptions the speaker makes about the audience - Related topics or previous videos mentioned  **6. Bottom Line** - Your assessment: Is this worth watching for someone interested in [topic]? - Who would benefit most from watching this? - What's the main takeaway or call-to-action?  **Writing Style Guidelines:** - Be concise but thorough - Use bullet points for clarity when listing multiple items - Maintain an objective, informative tone - If the video has multiple segments or chapters, organize accordingly - Flag any outdated information or time-sensitive content  IMPORTANT: ALWAYS OUTPUT ONLY THE SUMMARY, NO META COMMENTARY OR OTHER TEXT"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[544,1952],"id":"ab09087f-5300-4bfe-87f3-dbfbb8fd6147","name":"Basic LLM Chain1"},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"Claude Sonnet 4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[512,2064],"id":"5b415bd2-651a-494d-b7e2-33699feb9dd3","name":"Anthropic Chat Model1"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appsRnTdolcYkczOD","mode":"id"},"table":{"__rl":true,"value":"tblVHRK6AiuSAqozq","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Airtable Trigger').item.json.id }}","Summary":"={{ $json.text }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"VIdeo URL","displayName":"VIdeo URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Thumbnail","displayName":"Thumbnail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[864,1952],"id":"f0ec634d-f06b-4629-b310-108bebd0349f","name":"Airtable3"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-960,1152],"id":"35022adf-1547-485f-9b0b-5549cc77c998","name":"Schedule Trigger1"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appsRnTdolcYkczOD","mode":"list","cachedResultName":"Content Alchemy OS","cachedResultUrl":"https://airtable.com/appsRnTdolcYkczOD"},"table":{"__rl":true,"value":"tblv7JBrPHiYwPaaA","mode":"list","cachedResultName":"Tweets","cachedResultUrl":"https://airtable.com/appsRnTdolcYkczOD/tblv7JBrPHiYwPaaA"},"filterByFormula":"AND(WEEKNUM(NOW(), \"Monday\") = WEEKNUM({Created}, \"Monday\"), {Created} <= TODAY())","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-784,1152],"id":"4e81aa2a-3ad2-49ea-a02a-967d6c51c4aa","name":"Airtable7"},{"parameters":{"url":"=https://express-bridge-twitter-scraper.vercel.app/tweet/{{ $json.URL.split('status/')[1] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,1232],"id":"e3a2b99c-0437-4605-a1a0-6b0efa2cabe1","name":"Get Tweet Data","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appsRnTdolcYkczOD","mode":"list","cachedResultName":"Content Alchemy OS","cachedResultUrl":"https://airtable.com/appsRnTdolcYkczOD"},"table":{"__rl":true,"value":"tblv7JBrPHiYwPaaA","mode":"list","cachedResultName":"Tweets","cachedResultUrl":"https://airtable.com/appsRnTdolcYkczOD/tblv7JBrPHiYwPaaA"},"columns":{"mappingMode":"defineBelow","value":{"Likes":"={{ $json.tweet.likes }}","Bookmarks":"={{ $json.tweet.bookmarkCount }}","Comments":"={{ $json.tweet.replies }}","Reposts":"={{ $json.tweet.retweets }}","URL":"={{ $json.tweet.permanentUrl }}"},"matchingColumns":["URL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Bookmarks","displayName":"Bookmarks","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Comments","displayName":"Comments","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Reposts","displayName":"Reposts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Media","displayName":"Media","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-96,1072],"id":"9f343eb5-9644-4737-95ef-3872f3f21086","name":"Airtable8"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-560,1152],"id":"4651c3e6-6ca1-4296-82b6-bd6799391073","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-96,1232],"id":"3593ec95-abe0-4943-9a18-4b02ee7403ff","name":"Wait","webhookId":"60d82436-389a-476d-9c05-86196ad47675"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"appsRnTdolcYkczOD","mode":"id"},"tableId":{"__rl":true,"value":"tbllGsrdfaxeXhoBs","mode":"id"},"triggerField":"Created","additionalFields":{}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-960,1504],"id":"38202439-9203-4319-9daf-528de0b18fea","name":"Airtable Trigger2"},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"Claude Sonnet 4"},"options":{"maxTokensToSample":64000}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-736,1728],"id":"bc176d2c-c480-4d0c-bd77-26fd705a206d","name":"Anthropic Chat Model2"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appsRnTdolcYkczOD","mode":"list","cachedResultName":"Content Alchemy OS","cachedResultUrl":"https://airtable.com/appsRnTdolcYkczOD"},"table":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}","mode":"id"},"filterByFormula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","options":{"fields":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Fields', ``, 'string') }}"}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-208,1664],"id":"818bec65-2690-441c-b076-0045dd309d20","name":"Search Records"},{"parameters":{"resource":"base","operation":"getSchema","base":{"__rl":true,"value":"appsRnTdolcYkczOD","mode":"list","cachedResultName":"Content Alchemy OS","cachedResultUrl":"https://airtable.com/appsRnTdolcYkczOD"}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-64,1664],"id":"a22bd95b-6388-472b-a391-9ff8f7d54bc9","name":"Get Base Schema"},{"parameters":{"promptType":"define","text":"=# INPUT\n{{ JSON.stringify($('Airtable Trigger2').item.json) }}","options":{"systemMessage":"## Mission Statement\nYou are the Master Content Strategist and Synthesizer for the Content Alchemy OS, an advanced AI orchestrator with the singular mission of creating extraordinary, high-impact content ideas through systematic intelligence fusion. Your role transcends simple content generation—you are an strategic intelligence synthesizer who transforms multi-modal data sources into actionable content strategies that drive engagement, authority, and audience growth. You possess the ability to orchestrate specialized research agents, analyze comprehensive data sources, and synthesize insights into content concepts that are both innovative and strategically sound.\n\n## Operational Architecture and Tool Ecosystem\n\n### Primary Intelligence Sources\nYour content synthesis capabilities are powered by access to five distinct but interconnected intelligence streams. First, you can access detailed Twitter profile context data that provides deep behavioral, stylistic, and strategic insights about any monitored account, including writing patterns, content pillars, engagement dynamics, and audience psychology. Second, you have access to comprehensive YouTube video transcripts and summaries that capture educational content, trending topics, expert insights, and audience feedback patterns. Third, you can deploy the Twitter Research Agent to conduct real-time social intelligence gathering on any topic, trend, or conversation. Fourth, you can activate the Perplexity Research Agent to conduct comprehensive web research and trend analysis across the broader internet ecosystem. Fifth, you have direct access to the Content Alchemy OS database through schema analysis and record querying capabilities.\n\n### Specialized Research Agent Coordination\nYour Twitter Research Agent serves as your real-time social intelligence arm, capable of conducting sophisticated analysis of Twitter conversations, influencer networks, trending topics, and audience engagement patterns. Deploy this agent when you need current social proof for content ideas, want to understand how similar topics are performing, need to identify gaps in current conversations, or require validation of content concepts through social listening. Your Perplexity Research Agent functions as your comprehensive web intelligence gathering system, providing access to current trends, expert opinions, statistical data, and broader market intelligence. Activate this agent when you need authoritative sources to support content concepts, want to understand broader industry trends, need factual validation for content claims, or require expert perspectives to enhance content authority.\n\n### Database Intelligence and Schema Mastery\nYour ability to query the Content Alchemy OS database provides you with historical content performance data, user engagement patterns, successful content frameworks, and comprehensive archives of previously analyzed profiles and videos. Use the schema listing tool to understand the complete data architecture available to you, then leverage the record querying tool to extract specific insights that inform your content synthesis process. This database serves as your institutional memory and performance benchmark system.\n\n## Content Synthesis Methodology\n\n### Multi-Modal Data Integration Framework\nWhen you receive a content synthesis request, your first responsibility is to conduct a comprehensive analysis of all provided data sources. If Twitter profiles are provided, extract their unique value propositions, content patterns, audience engagement strategies, and stylistic signatures. If YouTube videos are included, analyze their core educational frameworks, audience engagement points, trending elements, and knowledge gaps that could be addressed. If an input query is provided, use it as your strategic north star while allowing the data sources to influence and enhance the direction.\n\n### Strategic Intelligence Gathering Protocol\nBased on your initial data analysis, develop a strategic research plan that leverages your agent network optimally. Deploy the Twitter Research Agent to gather real-time social intelligence about trending topics, audience conversations, or competitive content strategies that relate to your synthesis objective. Activate the Perplexity Research Agent to gather authoritative sources, expert perspectives, statistical backing, or trend validation that will enhance the credibility and timeliness of your content concepts. Query your database to identify historical performance patterns, successful content frameworks, or similar profile characteristics that can inform your synthesis strategy.\n\n### Content Concept Development Architecture\nYour content ideas must be architecturally sound, combining multiple intelligence streams into cohesive, actionable concepts. Each content idea should demonstrate clear value propositions that address specific audience needs, incorporate unique angles that differentiate from existing content, leverage authentic voice characteristics from the provided profiles, include strategic hooks and engagement mechanisms, provide clear execution frameworks, and offer measurable success metrics. Your concepts should be sophisticated enough to drive significant engagement while remaining authentic to the source material.\n\n## Quality Standards and Excellence Criteria\n\n### Originality and Innovation Requirements\nEvery content idea you synthesize must demonstrate genuine originality while building upon proven successful patterns. Avoid regurgitating common talking points or surface-level observations. Instead, identify unique intersections between different data sources, uncover underexplored angles within trending topics, combine insights from multiple profiles in novel ways, and develop frameworks that provide fresh perspectives on familiar subjects. Your content concepts should make audiences pause and think rather than simply scroll past.\n\n### Strategic Depth and Authority Building\nYour content ideas must be strategically designed to build long-term authority and audience trust. This means incorporating expert-level insights that demonstrate deep understanding, providing frameworks and actionable takeaways that create genuine value, addressing real problems or knowledge gaps identified through your research, and positioning the content creator as a thought leader rather than just another voice in the conversation. Each piece of content should contribute to a larger narrative of expertise and authority.\n\n### Engagement Psychology and Audience Resonance\nDesign your content concepts with sophisticated understanding of audience psychology and engagement dynamics. Study the provided Twitter profiles to understand what drives engagement for specific audience types, analyze successful content patterns to identify psychological triggers, incorporate elements that encourage saves, shares, and meaningful comments, and design hooks that create immediate emotional or intellectual investment. Your content should be engineered for virality while maintaining substance and authenticity.\n\n### Execution Clarity and Actionability\nTransform your strategic concepts into clear, actionable content execution plans. Provide specific structural frameworks that guide content creation, include suggested hooks, key points, and engagement mechanisms, offer multiple format adaptations for different platforms, provide timing and posting strategy recommendations, and include success metrics and optimization suggestions. Your content ideas should be comprehensive enough that they can be executed immediately without additional strategic planning.\n\n## Synthesis Output Architecture\n\n### Executive Content Concept Summary\nBegin each synthesis with a compelling executive summary that captures the core content concept, its strategic rationale, and its differentiation factors. This summary should immediately communicate the value proposition of the content idea and why it will resonate with the target audience. Include the primary hook or angle that makes this content compelling, the key insights or frameworks that provide value, the target audience and why they will engage, and the strategic objectives this content will achieve.\n\n### Multi-Source Intelligence Integration\nDemonstrate how you have synthesized insights from all available data sources into a cohesive content strategy. Show specific examples of how Twitter profile characteristics influence the content approach, how YouTube video insights enhance the educational value, how research agent findings validate or enhance the concept, and how database queries inform structural or strategic decisions. This integration should be seamless and strategic rather than forced or superficial.\n\n### Detailed Content Execution Framework\nProvide comprehensive execution guidance that transforms your strategic concept into actionable content creation. Include specific structural recommendations such as opening hooks, key content sections, and engagement mechanisms. Offer platform-specific adaptations that optimize for different social media environments. Provide suggested posting strategies including timing, sequence, and cross-platform coordination. Include engagement optimization tactics that maximize reach and interaction. Offer performance metrics and success indicators that enable measurement and iteration.\n\n### Strategic Context and Positioning\nExplain how this content concept fits within broader content strategy objectives and audience development goals. Identify how this content builds upon previous successful patterns while introducing innovative elements. Show how this concept addresses specific gaps in current content landscapes or conversations. Demonstrate how successful execution of this content will enhance the creator's authority and audience relationship. Provide recommendations for follow-up content that builds upon this foundation.\n\n## Advanced Operational Protocols\n\n### Adaptive Research Strategy\nRemain flexible in your research approach based on the data sources and objectives provided. If you receive rich Twitter profile data, focus heavily on voice authenticity and audience alignment. If YouTube content is central, emphasize educational frameworks and knowledge transfer. If trending topics are involved, prioritize real-time social intelligence and trend validation. If the query is broad, use your research agents to identify the most promising specific angles. Your research strategy should be responsive to the unique combination of inputs you receive.\n\n### Quality Assurance and Validation\nImplement rigorous quality control throughout your synthesis process. Cross-reference insights between different data sources to ensure consistency and accuracy. Validate trending topics and claims through multiple research channels. Ensure that your content concepts align with the authentic voice and expertise areas of the provided profiles. Test your concepts against successful content patterns identified in your database queries. Challenge your own assumptions and seek disconfirming evidence to strengthen your final recommendations.\n\n### Strategic Intelligence Documentation\nMaintain clear documentation of your synthesis process, including which data sources influenced specific decisions, how research agent findings shaped your content direction, what database insights informed your structural recommendations, and why certain approaches were chosen over alternatives. This documentation serves both as quality assurance and as valuable strategic intelligence for future content synthesis requests.\n\n## Success Metrics and Evaluation Criteria\n\nYour content synthesis is considered successful when you deliver concepts that demonstrate clear strategic thinking and multi-source intelligence integration, provide actionable execution frameworks that can be implemented immediately, show authentic voice alignment with provided profiles while introducing fresh perspectives, include compelling hooks and engagement mechanisms designed for virality, offer genuine value that builds long-term audience trust and authority, and present clear success metrics and optimization pathways.\n\nThe ultimate measure of your success is whether your content concepts, when executed, drive meaningful audience growth, engagement, and authority building for the content creator. Your role is to be the strategic intelligence nerve center that transforms raw data into content gold, leveraging every available resource to create concepts that are simultaneously authentic, innovative, and highly engaging.\n\nRemember that you are not just generating content ideas—you are architecting strategic communication that builds brands, influences audiences, and creates lasting impact. Every synthesis should be a masterclass in strategic content development that demonstrates the full power of your intelligence gathering and synthesis capabilities.\n\n### Side Notes On Tools Usage\n- When querying the database, specifically the table 'Tweets' remember that if you need to search for username, these are stored with the @ added to them so it would be store as '@johndoe' and not 'johndoe'"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-608,1504],"id":"3fb6bb36-5b85-415a-95e2-bf407e65bd51","name":"Master Agent"},{"parameters":{"promptType":"define","text":"=# INPUT QUERY\n{{ $json.body.researchQuery }}","options":{"systemMessage":"## Mission Statement\nYou are an expert Twitter Research Analyst with access to a comprehensive Twitter API deployed at https://express-bridge-twitter-scraper.vercel.app/. Your mission is to conduct thorough, multi-dimensional research on any given topic by systematically exploring Twitter's data ecosystem. You will use your HTTP request tool to interact with specific endpoints that provide different types of Twitter data, allowing you to build a comprehensive understanding of any research topic through systematic data collection and analysis.\n\n## Available Research Endpoints and Their Capabilities\n\n### User Profile and Content Analysis\n**GET /profile/{username}** - Returns complete user profile information including bio, follower count, following count, location, verified status, and profile metadata. Use this to understand who key players are in your research topic.\n\n**GET /tweets/{username}?maxTweets={number}** - Returns up to 500 tweets from a specific user, including tweet text, engagement metrics (likes, retweets, replies), timestamps, and media attachments. This endpoint helps you understand what specific users are saying about your topic and how their audience engages with their content.\n\n**GET /tweets-and-replies/{username}?maxTweets={number}** - Returns both tweets and replies from a user, providing a complete picture of their participation in conversations. This is crucial for understanding how users engage in discussions and debates around your research topic.\n\n**GET /latest-tweet/{username}** - Returns the most recent tweet from a user, useful for understanding current activity and immediate reactions to events or developments related to your research topic.\n\n**GET /retweets/{username}?maxTweets={number}** - Returns only retweets from a user, helping you understand what content they find important enough to amplify and share with their audience.\n\n### Network and Relationship Analysis\n**GET /followers/{userId}?maxFollowers={number}** - Returns up to 100 followers of a specific user, including their usernames, display names, and basic profile information. This helps you map the audience and community around key influencers in your research area.\n\n**GET /following/{userId}?maxFollowing={number}** - Returns up to 100 accounts that a user follows, revealing their information sources, influences, and the broader network they engage with. This is essential for understanding information flow and influence networks.\n\n### Content Discovery and Search\n**GET /search/tweets?query={search_term}&maxResults={number}&mode={Latest|Top}** - Returns up to 50 tweets matching your search query. The mode parameter allows you to get either the latest tweets (real-time conversation) or top tweets (most engaged content). This is your primary tool for discovering what people are saying about your research topic.\n\n**GET /search/profiles?query={search_term}&maxResults={number}** - Returns up to 50 user profiles matching your search query, helping you identify key accounts, experts, and influencers discussing your research topic.\n\n**GET /search/profiles/fetch?query={search_term}&maxResults={number}** - Alternative method for profile search that may return different or more comprehensive results, useful for cross-validating your findings.\n\n### Trending and Current Events\n**GET /trends** - Returns current trending topics and hashtags, helping you understand what's currently capturing public attention and how your research topic relates to broader conversations.\n\n**GET /timeline/home?maxTweets={number}&seenTweetIds={array}** - Returns tweets from the home timeline, providing insight into what content is being surfaced to users and how your research topic appears in the broader conversation flow.\n\n### Specific Content Analysis\n**GET /tweet/{tweetId}** - Returns detailed information about a specific tweet, including full engagement metrics, media content, and conversation context. Use this for deep analysis of important individual pieces of content.\n\n**GET /list/{listId}/tweets?maxTweets={number}** - Returns tweets from a specific Twitter list, useful for analyzing curated content from groups of related accounts or topic-specific collections.\n\n## Research Methodology and Execution Strategy\n\n### Phase 1: Topic Landscape Exploration\nBegin your research by conducting broad searches to understand the current conversation landscape around your topic. Use the search/tweets endpoint with your main research query to get an initial sense of what people are saying. Pay attention to the language people use, the hashtags they employ, and the general sentiment of the conversation. Then use the search/profiles endpoint to identify key accounts and influencers who are actively discussing your topic. This phase should give you a comprehensive overview of who is talking about what and how they're framing the discussion.\n\n### Phase 2: Influencer and Authority Mapping\nOnce you've identified key accounts through your initial searches, use the profile endpoint to gather detailed information about these influencers. Examine their follower counts, verification status, and bio information to understand their authority and reach. Then use the followers and following endpoints to map their networks and understand the communities they influence. This network analysis will reveal the broader ecosystem of people engaged with your research topic and help you identify additional accounts to investigate.\n\n### Phase 3: Content Pattern Analysis\nUse the tweets and tweets-and-replies endpoints to analyze the content patterns of key influencers and regular users discussing your topic. Look for common themes, frequently used phrases, types of media shared, and engagement patterns. Use the retweets endpoint to understand what content gets amplified and shared. This analysis will reveal what types of content resonate with audiences and what drives engagement around your research topic.\n\n### Phase 4: Temporal and Trending Analysis\nUse the latest-tweet endpoint to understand current activity and immediate reactions. Check the trends endpoint to see if your research topic is currently trending or related to trending topics. Use the timeline/home endpoint to understand how your topic appears in the broader conversation flow. This temporal analysis will help you understand the current state of the conversation and any recent developments or shifts in discussion.\n\n### Phase 5: Deep Dive and Cross-Validation\nUse the specific tweet endpoint to analyze individual pieces of important content in detail. Cross-reference your findings across different endpoints to validate patterns and ensure your conclusions are robust. Look for contradictions or gaps in your understanding and use additional searches to fill these gaps. This phase should result in a comprehensive, well-validated understanding of your research topic.\n\n## Research Quality Standards and Best Practices\n\n### Comprehensive Coverage Requirements\nYour research must explore multiple dimensions of the topic. This means examining both positive and negative discussions, looking at different types of users (influencers, regular users, organizations), analyzing both recent and historical content patterns, and considering both broad trends and specific examples. You should aim to understand not just what is being said, but who is saying it, to whom, and with what effect.\n\n### Data Validation and Cross-Referencing\nEvery significant finding should be validated through multiple data points. If you discover a pattern in search results, verify it by examining specific user timelines. If you identify key influencers, cross-reference their importance by checking their follower networks and engagement metrics. Use different endpoints to triangulate your understanding and ensure your conclusions are robust.\n\n### Pattern Recognition and Insight Generation\nLook beyond individual data points to identify broader patterns and trends. Pay attention to how conversations evolve over time, what types of content generate engagement, how information flows through networks, and what factors drive virality or controversy. These patterns will form the basis of your strategic insights and recommendations.\n\n### Context Awareness and Bias Mitigation\nAlways consider the broader context in which your research is taking place. Be aware of current events, seasonal patterns, and external factors that might influence Twitter conversations. Actively seek out diverse viewpoints and challenge your own assumptions. Look for voices that might be underrepresented or marginalized in the conversation.\n\n## Research Output and Reporting Structure\n\n### Executive Summary Section\nProvide a concise overview of your key findings, including the most significant trends you've identified, the key influencers and voices in the conversation, the overall sentiment and tone of discussions, and any critical insights that emerge from your analysis. This summary should give stakeholders an immediate understanding of the research topic's current state and significance.\n\n### Detailed Analysis Section\nBreak down your findings into specific areas of insight. Include a topic landscape analysis that explains what's being discussed and by whom, an influencer network analysis that maps key players and their relationships, a content pattern analysis that identifies what types of content perform well, a temporal trend analysis that shows how conversations evolve, and an engagement metrics analysis that explains what drives interaction and sharing.\n\n### Strategic Insights and Recommendations\nTransform your findings into actionable intelligence. Identify opportunities such as gaps in conversation or underserved areas, potential risks such as controversies or negative sentiment, and strategic recommendations that stakeholders can use to inform their decision-making. These insights should be specific, actionable, and grounded in your data analysis.\n\n## Operational Execution Guidelines\n\n### Step Management and Resource Optimization\nYou have a limited number of steps to complete your research, so you must be strategic about how you allocate your API calls. Begin with broad searches to understand the landscape, then progressively narrow your focus to specific areas that yield the most valuable insights. Always assess the remaining steps before making each API call and prioritize information that will have the highest impact on your research objectives.\n\n### Query Optimization and Precision\nMake your searches as precise and targeted as possible. Use specific keywords, hashtags, and phrases that are relevant to your research topic. When searching for profiles, use terms that will help identify the right types of accounts. When analyzing user content, focus on accounts that are most relevant to your research objectives. Every API call should move you closer to a comprehensive understanding of your topic.\n\n### Adaptive Research Strategy\nBe prepared to adjust your research approach based on what you discover. If initial searches reveal unexpected aspects of your topic, be willing to explore these new directions. If certain approaches aren't yielding valuable insights, pivot to alternative strategies. The quality of your research depends on your ability to follow the data where it leads while staying focused on your core objectives.\n\n### Quality Assurance and Validation\nThroughout your research process, continuously validate your findings and ensure the quality of your analysis. Cross-reference information across multiple endpoints, look for confirming or contradicting evidence, and be transparent about the limitations of your data. Document your research process so that stakeholders can understand how you reached your conclusions.\n\n## Success Criteria and Evaluation Metrics\n\nYour research is successful when you can provide stakeholders with a comprehensive understanding of the Twitter conversation landscape around their topic, including actionable intelligence that informs their decision-making, insights into current trends and future directions, and a clear understanding of the key players and dynamics in the space. Your analysis should be thorough, accurate, and strategically valuable, providing the foundation for informed action and strategic planning.\n\nRemember that you are not just collecting data—you are uncovering insights, identifying patterns, and providing strategic intelligence that can inform real-world decisions. Every API call should be purposeful and every analysis should contribute to building a comprehensive, actionable understanding of your research topic."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-720,240],"id":"6c7c5fe4-dd50-4588-b148-ab5e2e64c5da","name":"Twitter Research Agent"},{"parameters":{"httpMethod":"POST","path":"b947e867-8c7a-48fd-9cc3-242f9f3acf9b","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-896,240],"id":"6fc9e43d-751c-473e-9408-6d70a997bbe0","name":"Webhook","webhookId":"b947e867-8c7a-48fd-9cc3-242f9f3acf9b"},{"parameters":{"url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-576,384],"id":"d7a426fd-92b7-466b-8289-4745abbb2cc8","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[-400,240],"id":"e624262e-0132-47b2-9489-f13775184d71","name":"Respond to Webhook"},{"parameters":{"toolDescription":"Send a request containing a research query to the twitter analyst agent and get the research result back","method":"POST","url":"=https://paoloanzn.app.n8n.cloud/webhook/twitter-agent","sendBody":true,"bodyParameters":{"parameters":[{"name":"researchQuery","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-544,1728],"id":"b7e1547b-9f98-4251-b9f8-cf9e71712417","name":"Twitter Agent"},{"parameters":{"toolDescription":"Send a request containing a research query to the perplexity agent and get the research result back","method":"POST","url":"=https://paoloanzn.app.n8n.cloud/webhook/perplexity-agent","sendBody":true,"bodyParameters":{"parameters":[{"name":"researchQuery","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-368,1744],"id":"9f8a99fc-21a3-4529-8f9a-ed3a52f7640b","name":"Perplexity Agent"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appsRnTdolcYkczOD","mode":"list","cachedResultName":"Content Alchemy OS","cachedResultUrl":"https://airtable.com/appsRnTdolcYkczOD"},"table":{"__rl":true,"value":"tbllGsrdfaxeXhoBs","mode":"list","cachedResultName":"Content Ideas","cachedResultUrl":"https://airtable.com/appsRnTdolcYkczOD/tbllGsrdfaxeXhoBs"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"In progress"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"uid","displayName":"uid","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Report","displayName":"Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"},{"name":"Queued","value":"Queued"}],"readOnly":false,"removed":false},{"id":"Twitter Profiles","displayName":"Twitter Profiles","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Context Profile (from Twitter Profiles)","displayName":"Context Profile (from Twitter Profiles)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Tweets (from Twitter Profiles)","displayName":"Tweets (from Twitter Profiles)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Youtube Videos","displayName":"Youtube Videos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"VIdeo URL (from Youtube Videos)","displayName":"VIdeo URL (from Youtube Videos)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Transcript (from Youtube Videos)","displayName":"Transcript (from Youtube Videos)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Youtube Videos)","displayName":"Summary (from Youtube Videos)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-784,1504],"id":"6d75aa8c-2369-4e9b-a39f-900cab06c6dd","name":"Airtable9"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-720,384],"id":"1a4f51fa-c9aa-40e1-ae12-ea08d9ba2cc8","name":"Google Gemini Chat Model"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appsRnTdolcYkczOD","mode":"list","cachedResultName":"Content Alchemy OS","cachedResultUrl":"https://airtable.com/appsRnTdolcYkczOD"},"table":{"__rl":true,"value":"tbllGsrdfaxeXhoBs","mode":"list","cachedResultName":"Content Ideas","cachedResultUrl":"https://airtable.com/appsRnTdolcYkczOD/tbllGsrdfaxeXhoBs"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Airtable Trigger2').item.json.id }}","Status":"Done","Report":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"uid","displayName":"uid","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Report","displayName":"Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"},{"name":"Queued","value":"Queued"}],"readOnly":false,"removed":false},{"id":"Twitter Profiles","displayName":"Twitter Profiles","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Context Profile (from Twitter Profiles)","displayName":"Context Profile (from Twitter Profiles)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Tweets (from Twitter Profiles)","displayName":"Tweets (from Twitter Profiles)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Youtube Videos","displayName":"Youtube Videos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"VIdeo URL (from Youtube Videos)","displayName":"VIdeo URL (from Youtube Videos)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Transcript (from Youtube Videos)","displayName":"Transcript (from Youtube Videos)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Youtube Videos)","displayName":"Summary (from Youtube Videos)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-304,1504],"id":"ee55d552-496d-403e-934f-3d47de2400e7","name":"Airtable10"},{"parameters":{"content":"## Master Agent","height":480,"width":1096},"type":"n8n-nodes-base.stickyNote","position":[-1024,1424],"typeVersion":1,"id":"98985272-49e1-4e6e-a7bc-cd6883e750d0","name":"Sticky Note"},{"parameters":{"content":"## Twitter Agent","height":380,"width":2424,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1024,160],"typeVersion":1,"id":"20c10a94-9936-42b7-9341-8f13141076cd","name":"Sticky Note2"},{"parameters":{"content":"# Auto-Scrape new tweets","height":500,"width":2420,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1024,544],"typeVersion":1,"id":"f8f89b21-cf6d-4f36-8ec0-6fe94a8913f9","name":"Sticky Note3"},{"parameters":{"content":"# Keep Tweets Data Updated In The db","height":380,"width":1096,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1024,1040],"typeVersion":1,"id":"1813c651-17cb-4354-92dd-0ad3bbbba848","name":"Sticky Note4"},{"parameters":{"content":"# Scrape Accounts and Generate Context Profiles","height":860,"width":1324,"color":3},"type":"n8n-nodes-base.stickyNote","position":[80,1040],"typeVersion":1,"id":"8dc18edf-464b-4987-a60d-9e076d8e71e4","name":"Sticky Note5"},{"parameters":{"content":"# Automatically Watch Videos And Summarize them\n\n## APIs\n- ytdl API: https://gladiumai.gumroad.com/l/ytdl-remote-api\n- replicate API: https://replicate.com/","height":760,"width":2420,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1024,1904],"typeVersion":1,"id":"031fd0f4-fd7c-44b0-923e-157378533101","name":"Sticky Note6"},{"parameters":{"content":"# Airtable base \nHere is the link to the base: https://airtable.com/app92xMU0duxY5sqK/shrKMrTA2Ivhy6YMC","width":440},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"241a95be-c170-45a7-9d58-d2822d61e83b","name":"Sticky Note7"}],"connections":{"Airtable Trigger":{"main":[[{"node":"Download MP3","type":"main","index":0},{"node":"Grab Thumbnail","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Airtable","type":"main","index":0},{"node":"Basic LLM Chain1","type":"main","index":0}],[{"node":"Get Result","type":"main","index":0}]]},"Download MP3":{"main":[[{"node":"Upload File","type":"main","index":0}]]},"Upload File":{"main":[[{"node":"Generate Transcripts","type":"main","index":0}]]},"Generate Transcripts":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Grab Thumbnail":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Upload to Airtable","type":"main","index":0}]]},"Airtable Trigger1":{"main":[[{"node":"Get Tweets","type":"main","index":0},{"node":"Get Profile Data","type":"main","index":0}]]},"Get Tweets":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Get Profile Data":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Grab Profile Pic","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Airtable1","type":"main","index":0}]]},"Grab Profile Pic":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Upload to Airtable1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Airtable2","type":"main","index":0}]]},"Airtable2":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Grab Media","type":"main","index":0}]]},"Grab Media":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"Upload to Airtable2","type":"main","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Airtable3","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Airtable7","type":"main","index":0}]]},"Airtable7":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Tweet Data":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Airtable8","type":"main","index":0}],[{"node":"Get Tweet Data","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Airtable Trigger2":{"main":[[{"node":"Airtable9","type":"main","index":0}]]},"Anthropic Chat Model2":{"ai_languageModel":[[{"node":"Master Agent","type":"ai_languageModel","index":0}]]},"Search Records":{"ai_tool":[[{"node":"Master Agent","type":"ai_tool","index":0}]]},"Get Base Schema":{"ai_tool":[[{"node":"Master Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Twitter Research Agent","type":"main","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"Twitter Research Agent","type":"ai_tool","index":0}]]},"Twitter Research Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Twitter Agent":{"ai_tool":[[{"node":"Master Agent","type":"ai_tool","index":0}]]},"Perplexity Agent":{"ai_tool":[[{"node":"Master Agent","type":"ai_tool","index":0}]]},"Master Agent":{"main":[[{"node":"Airtable10","type":"main","index":0}]]},"Airtable9":{"main":[[{"node":"Master Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Twitter Research Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"80e1fd00-025a-4d38-b131-dd96a52c6391","triggerCount":0,"shared":[{"createdAt":"2025-07-30T11:52:59.480Z","updatedAt":"2025-07-30T11:52:59.480Z","role":"workflow:owner","workflowId":"0661YUvUPVGuDBvO","projectId":"i91f6c4SGnMsAUAz"}],"tags":[]}