workflows/Uploading New File with New Customer Data into Knowledge Base.json
{"createdAt":"2025-07-27T11:28:38.049Z","updatedAt":"2025-08-10T04:10:53.000Z","id":"1j2RP6OjZXbQhxgo","name":"Uploading New File with New Customer Data into Knowledge Base","active":false,"isArchived":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"e556566e-20a1-48b4-b01e-197a402b5a5f","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"c456a764-7a55-4634-98ec-882a4fb0c664","name":"Set ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,224]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"de898ef9-fd44-4fe0-bc15-d6ce0c28c9e8","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1104,224]},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set ID').item.json.id }}"}]}}},"id":"f23a0eef-1c2f-4a52-86c5-faf8abeba2db","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1248,448]},{"parameters":{"chunkSize":300,"chunkOverlap":50,"options":{}},"id":"0bdaf816-213f-48b9-b9c2-ad361fe741e1","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1344,592]},{"parameters":{"options":{}},"id":"db40b1c5-192f-4c3b-a348-e59769218a60","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[1072,448]},{"parameters":{"pollTimes":{"item":[{}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1kB1PdiQ9hSXyilabG-06aVus4NXXRbmM","mode":"list","cachedResultName":"Kamexa Policies - DEMO","cachedResultUrl":"https://drive.google.com/drive/folders/1kB1PdiQ9hSXyilabG-06aVus4NXXRbmM"},"event":"fileCreated","options":{"fileType":"all"}},"id":"37417ab4-319c-4c6f-854d-821972826b38","name":"New File","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[64,224]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"62e7b7e6-87bc-409c-8c65-31e81ac4f32c","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[608,224]},{"parameters":{"content":"# Upload New File into Knowledge Base\n\n","height":80,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"b780df16-35b8-4648-87d3-51e247b9010d","name":"Sticky Note"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[784,224],"id":"dc0e975d-9917-486c-903a-70a170ef255f","name":"Extract from File"},{"parameters":{"content":"## Get New File \n","height":260,"width":280,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,144],"typeVersion":1,"id":"13068edb-4618-4edb-a31c-faa3a004c020","name":"Sticky Note2"},{"parameters":{"content":"## Fix Formatting\n","height":260,"color":5},"type":"n8n-nodes-base.stickyNote","position":[304,144],"typeVersion":1,"id":"51596679-8a6b-4b18-b3e2-cf800e6b52e4","name":"Sticky Note4"},{"parameters":{"content":"## Extract File Text\n\n","height":260,"width":420,"color":5},"type":"n8n-nodes-base.stickyNote","position":[560,144],"typeVersion":1,"id":"b6c8a76e-a25a-4d50-b16d-84dad6488b26","name":"Sticky Note5"},{"parameters":{"content":"## Update Vector Database\n\n","height":580,"width":560,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1008,144],"typeVersion":1,"id":"cd541403-273a-4c09-bcf0-4d3d552ede3a","name":"Sticky Note6"}],"connections":{"Set ID":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"New File":{"main":[[{"node":"Set ID","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6bd4312c-bacd-47ab-ba79-7ff3fe00ff2f","triggerCount":0,"shared":[{"createdAt":"2025-07-27T11:28:38.053Z","updatedAt":"2025-07-27T11:28:38.053Z","role":"workflow:owner","workflowId":"1j2RP6OjZXbQhxgo","projectId":"i91f6c4SGnMsAUAz"}],"tags":[]}