workflows/Website Scraper.json
{"createdAt":"2025-08-12T08:18:58.116Z","updatedAt":"2025-08-15T07:18:51.000Z","id":"2gBy3aDry1M8o9kQ","name":"Website Scraper","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"website_url"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"17f0374d-ac37-472e-8d3a-5bc614239a73","name":"workflow_trigger"},{"parameters":{"operation":"map","url":"={{ $json.website_url }}","requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[272,0],"id":"3f7bb528-36bd-44c1-8f5b-2c37a126dbbd","name":"map_website","credentials":{"firecrawlApi":{"id":"QAdWnZACu1vc01Bt","name":"Firecrawl account"}}},{"parameters":{"operation":"scrape","url":"={{ $json.links }}","scrapeOptions":{"options":{"headers":{}}},"requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[784,0],"id":"28063ab5-8734-4e73-b5f8-88e709dddd84","name":"scrape_url","credentials":{"firecrawlApi":{"id":"QAdWnZACu1vc01Bt","name":"Firecrawl account"}}},{"parameters":{"fieldToSplitOut":"links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[528,0],"id":"e51fe31b-0bdd-4536-93d2-2aca24a0bb93","name":"split_urls"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data.markdown","renameField":true,"outputFieldName":"markdown"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1024,0],"id":"dea2da72-9ba4-49e3-894b-3e6527f6e5dd","name":"aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"0977e7a9-8c0c-4f8d-9749-fda01e8f1b1a","name":"scraped_website_result","value":"={{ $json.markdown.map(item => item).join(\"\\n-----\\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1264,0],"id":"2a560bc6-602f-428c-b74b-09be23f7c7b9","name":"set_result"}],"connections":{"aggregate":{"main":[[{"node":"set_result","type":"main","index":0}]]},"workflow_trigger":{"main":[[{"node":"map_website","type":"main","index":0}]]},"map_website":{"main":[[{"node":"split_urls","type":"main","index":0}]]},"split_urls":{"main":[[{"node":"scrape_url","type":"main","index":0}]]},"scrape_url":{"main":[[{"node":"aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"workflow_trigger":[{"json":{"website_url":"http://pasovit.com"}}],"map_website":[{"json":{"success":true,"links":["https://pasovit.com","https://pasovit.com/terms","https://pasovit.com/privacy","https://pasovit.com/about","https://pasovit.com/refund-policy","https://pasovit.com/healthcare-facilitator","https://pasovit.com/artificial-intelligence","https://pasovit.com/digital-marketing","https://pasovit.com/mobile-app-development","https://www.pasovit.com/web-development","https://pasovit.com/artificial-intelligence/sm-automation"]}}]},"versionId":"9d0e0d90-71c3-43ef-85dd-39a6375e879b","triggerCount":0,"shared":[{"createdAt":"2025-08-12T08:18:58.125Z","updatedAt":"2025-08-12T08:18:58.125Z","role":"workflow:owner","workflowId":"2gBy3aDry1M8o9kQ","projectId":"i91f6c4SGnMsAUAz"}],"tags":[]}