workflows/zCombination View.json
{"createdAt":"2025-08-23T05:40:02.460Z","updatedAt":"2025-09-20T19:48:08.000Z","id":"13le4xsRFlfkW21T","name":"zCombination View","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"c2135a91-9b5a-4be8-89a3-6dfdf999ae27","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,0]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"f360c34d-a574-4271-85a3-36c731a3ac73","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-160]},{"parameters":{"options":{}},"id":"b12bef1a-4e58-4f42-838a-523f3196af56","name":"SerpAPI","type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[-144,192],"credentials":{"serpApi":{"id":"XrVz55Eqw8XsbHR5","name":"SerpAPI account"}}},{"parameters":{},"id":"ff6327e6-b068-4895-96b8-488ef60253af","name":"Wikipedia","type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[-256,192]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are a research assistant agent. You have Perplexity Sonar Deep Research, Wikipedia, and Serp API at your disposal. \n\nTo answer the user's question, first search wikipedia. If you can't find your answer there, then use Serp API to answer the user's question.\n\nIf the user mentions Deep Research for any query, then you should do Use Perplexity Deep Research and return results\n"}},"id":"1c08b646-69b4-4b79-bc5b-1c2098f194cb","name":"Research Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-288,-64],"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-384,192],"id":"7b113a92-d24a-49a8-88b7-47ae0ab43be7","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"92bps6bgJv6gIN1Z","name":"OpenRouter account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Perform Deep Research for user's query","model":"sonar-deep-research","messages":{"message":[{"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[-16,192],"id":"9195e19f-0db8-4a54-8828-cc527613e66b","name":"Message a model in Perplexity","credentials":{"perplexityApi":{"id":"s3ffhOFNnzts2rxU","name":"Perplexity account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"ab38a6ac-6e99-42b7-835b-67df5ab9c4a0","name":"Respond to Me","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-560,-688],"webhookId":"8ed08c32-ad99-4eed-826b-61bdf3d55bf1","credentials":{"telegramApi":{"id":"ao00C782cpRmFwLI","name":"VBV Telegram"}}},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text }}","options":{"systemMessage":"=Important Note:\n- Don't only depend on the Simple Memory. Before giving the respond to question check with respective agent.\n\nYou are a personal assistant AI Agent designed to handle various tasks efficiently. Your primary role is to manage contacts, emails, and calendar events for the user. You have access to three tools to help you fulfill requests:\n\n\nBefore send the email get the clients data, for that use Database Function.\n\nTable Id Data:\nClients: {{ 710 }}\nTeam Members: {{ 711 }}\n\n\nEmail Agent: Use this for handling all email-related actions, like sending messages, setting up replies, or forwarding emails.\n\nCalendar Agent: Use this for scheduling, updating, or managing calendar events.\n\nClient Management Agent: Use this for get the client and team members full data, create client or team member , update client full data or team member  data and delete the client(s) full data or team member(s) full data.\n\nTask Management Agent: Use this tool to access our projects and tasks. We can update our projects and tasks of get information on our projects.\n\nResearch Agent: Use this tool to search through Google, or Wikipedia or Perplexity Deep Research if user specifies it.\n\n\n\nWhen a task requires using one or more of these tools, make sure to identify which tool is most appropriate, pass along the relevant details, and execute the actions needed to complete the task. Your goal is to be proactive, precise, and organized in managing these resources to provide a smooth experience for the user.\n\n Importnant Note:\n-don't consider the memory in error situation\nExample: I tried some thing, but that will error. after some time i fixed that. so that case don't consider the memory\n\nHere is the current time/date: {{ $now.format('DD')}}"}},"id":"cc2966d3-5548-495f-879f-ac4b61db2fb0","name":"Personal Assistant","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-976,-688],"retryOnFail":false},{"parameters":{},"id":"2e8e9366-a827-4345-a8e0-646694426d4c","name":"Calculator1","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-608,-384]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"f237ee91-d235-4e8d-872e-e9450c0f570f","name":"Transcribe Audio1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1232,-848],"credentials":{"openAiApi":{"id":"JNHZtWXA5RN6qZFl","name":"OpenAi account"}}},{"parameters":{"name":"Research_Agent","description":"Call this tool to search through Wikipedia, articles, or google or Perplexity's Deep Research to answer the user's question.","workflowId":{"__rl":true,"value":"ZgRR1cDtEXv9ghb0","mode":"list","cachedResultName":"Research Agent (Perplexity)"}},"id":"72e09e14-41ab-4b52-a3a1-1beb402182ae","name":"Research_Agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-224,-176]},{"parameters":{"name":"Calendar_Agent","description":"Call this tool to take actions within Calendar","workflowId":{"__rl":true,"value":"mJNqJfCLFMbC8zK4","mode":"list","cachedResultName":"Meeting & Calendar Agent KBK"}},"id":"f61728bf-4733-4043-8a3d-9237eb939abf","name":"Calendar_Agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-1168,-176]},{"parameters":{"workflowId":{"__rl":true,"value":"PYxmX7MmN6KLayhB","mode":"list","cachedResultName":"Task Manager Agent (KBK)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[896,-240],"id":"912e4932-1ded-490c-9c64-2278d2ac946e","name":"Task Management Agent"},{"parameters":{"databaseId":178,"tableId":"={{ $fromAI('tableId') }}","returnAll":true,"additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-992,-384],"id":"009d3428-12fb-4328-bf2e-541358829b66","name":"Database","credentials":{"baserowApi":{"id":"3OnQ4ofVLqOA2bA4","name":"Baserow account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1856,-704],"id":"d42b8f1e-7eda-4efb-9900-808533f2d324","name":"Telegram Trigger","webhookId":"904543c2-3ef3-458c-b601-1ae2c35721cf","credentials":{"telegramApi":{"id":"ao00C782cpRmFwLI","name":"VBV Telegram"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"259d9aa3-0ffd-4321-bd29-be4bd923587f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"fe4eca74-e507-4e55-bee9-a4b49562c9a4","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1648,-704]},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"e8c155a3-a45d-49f4-811f-371be6097408","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1392,-688]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"7a93cfbe-204e-4ee8-9648-c25540d960c3","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1424,-848],"webhookId":"73cd9138-01f4-497e-a49c-908bb6722f49","credentials":{"telegramApi":{"id":"ao00C782cpRmFwLI","name":"VBV Telegram"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1200,-384],"id":"8649fa43-5dc4-4688-91e9-178e74d0637b","name":"OpenRouter Chat Model6","credentials":{"openRouterApi":{"id":"92bps6bgJv6gIN1Z","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-784,-384],"id":"c1186e80-ad6f-4f6f-9056-0af2c74092dd","name":"Simple Memory2"},{"parameters":{"assignments":{"assignments":[{"id":"74b2ef09-da1d-4fe0-b6ea-242f25edf5e8","name":"urlOfProposal","value":"=https://docs.google.com/document/d/{{ $json.documentId }}/edit","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1888,640],"id":"2f23e582-9bbc-41f7-8d11-9adf2cee79e7","name":"Edit Fields"},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"replaceAll","text":"[COMPANY NAME]","replaceText":"={{ $json.companyNameUpper }}","matchCase":true},{"action":"replaceAll","text":"[DATE]","replaceText":"={{ $('Webhook').item.json.body['Date of registration'] }}","matchCase":true},{"action":"replaceAll","text":"[INCORPORATOR NAME]","replaceText":"={{ $json.incorporatorNameUpper }}","matchCase":true},{"action":"replaceAll","text":"[STATE]","replaceText":"={{ $json.stateUpper }}","matchCase":true},{"action":"replaceAll","text":"[COMPLETE ADDRESS]","replaceText":"={{ $json.addressUpper }}","matchCase":true},{"action":"replaceAll","text":"[NUMBER OF SHARES]","replaceText":"={{ $('Webhook').item.json.body['No of shares'] }}","matchCase":true},{"action":"replaceAll","text":"[AMOUNT OF EACH SHARES]","replaceText":"={{ $('Webhook').item.json.body['Amount of each share'] }}"},{"action":"replaceAll","text":"[NAME OF CORPORATION]","replaceText":"={{ $json.companyNameUpper }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1696,640],"id":"cd7a8e95-57f9-4f1f-840d-2cbfe4b1481f","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"xL2m3EtmM2PnIH1V","name":"Google Docs account"}}},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1jyLktctaFj_hPD7DGyS0-yPRBXzvHuKpvT6q3dyIkOk","mode":"list","cachedResultName":"Company registration demo","cachedResultUrl":"https://docs.google.com/document/d/1jyLktctaFj_hPD7DGyS0-yPRBXzvHuKpvT6q3dyIkOk/edit?usp=drivesdk"},"name":"=Company Registration document for {{ $json['Company Name'] }}","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1264,640],"id":"3f0a134a-0286-452f-bd6b-2a378ec5e643","name":"Create copy from template","credentials":{"googleDriveOAuth2Api":{"id":"8KEztC26hWeSWGpg","name":"Google Drive account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Q-Dnt8wq42fhCSKBRN42-UCIr8M78p_ZzgmxQOX0Cz8","mode":"list","cachedResultName":"KBK Ventrues","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-Dnt8wq42fhCSKBRN42-UCIr8M78p_ZzgmxQOX0Cz8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Company registration","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-Dnt8wq42fhCSKBRN42-UCIr8M78p_ZzgmxQOX0Cz8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Company Name":"={{ $json.body['Company Name'] }}","Incorporator Name":"={{ $json.body['Incorporator Name'] }}","Date of registration":"={{ $json.body['Date of registration'] }}","State":"={{ $json.body.State }}","Address":"={{ $json.body.Address }}","No of shares":"={{ $json.body['No of shares'] }}","Amount of each share":"={{ $json.body['Amount of each share'] }}"},"matchingColumns":["Company Name"],"schema":[{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Incorporator Name","displayName":"Incorporator Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date of registration","displayName":"Date of registration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"No of shares","displayName":"No of shares","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Amount of each share","displayName":"Amount of each share","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,640],"id":"d5a58562-b55c-45b3-9f20-e260bd7199e5","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"snDFDmA1LRUgg4gH","name":"Google Sheets account"}}},{"parameters":{"httpMethod":"POST","path":"1c648cb0-3e41-411b-a250-fb3ac0d996b6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[832,640],"id":"06e858e4-bd87-4cfd-b2df-e2c8291ffd07","name":"Webhook","webhookId":"1c648cb0-3e41-411b-a250-fb3ac0d996b6"},{"parameters":{"jsCode":"return items.map(item => {\n  const companyName = $('Webhook').first().json.body['Company Name'];\n  \n  const incorporatorName = $('Webhook').first().json.body['Incorporator Name'];\n  \n  const state = $('Webhook').first().json.body.State;\n\n  const address = $('Webhook').first().json.body.Address ;\n\n  item.json.companyNameUpper = companyName.toUpperCase();\n  item.json.companyNameLower = companyName.toLowerCase();\n\n  \n  item.json.incorporatorNameUpper = incorporatorName.toUpperCase();\n  item.json.incorporatorNameLower = incorporatorName.toLowerCase();\n\n  item.json.stateUpper = state.toUpperCase();\n  item.json.stateLower = state.toLowerCase();\n\n  item.json.addressUpper = address.toUpperCase();\n  item.json.addressLower = address.toLowerCase();\n\n  \n \n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,640],"id":"df69d571-5010-48e3-98d7-c9f7d211b94c","name":"Code1"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3696,944],"id":"8329dfa2-db83-4261-884c-6f59fcc17473","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ddf1614c-87c5-4e56-ab9d-3d73d5f7912b","leftValue":"={{ $json.output.method }}","rightValue":"reply","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3200,944],"id":"bbe5c718-a935-4e2b-a0dc-d86d258e8aed","name":"Is this for Reply or New Email"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('When Executed by Another Workflow').item.json.chatId }}","message":"=Can I send  a message to  {{ $json.output.email }}?\n\nSubject: {{ $json.output.subject }}\nContent: {{ $json.output.body }}","approvalOptions":{"values":{"approvalType":"double","approveLabel":"Approve","disapproveLabel":"Decline"}},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2928,1120],"id":"ea67bcab-01df-46bd-8e75-670a7f75bb60","name":"New Email Approve","webhookId":"6e6d6088-dd37-4fa6-95ab-5313a46adafb","credentials":{"telegramApi":{"id":"ao00C782cpRmFwLI","name":"VBV Telegram"}}},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('When Executed by Another Workflow').item.json.chatId }}","message":"=Can I send  a reply to  {{ $json.output.email }}?\n\nSubject: {{ $json.output.subject }}\nContent: {{ $json.output.body }}","approvalOptions":{"values":{"approvalType":"double","approveLabel":"Approve","disapproveLabel":"Decline"}},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2944,736],"id":"c93feed3-5a1d-4dba-94b0-eec15467dd78","name":"Reply Email Approve","webhookId":"6e6d6088-dd37-4fa6-95ab-5313a46adafb","credentials":{"telegramApi":{"id":"ao00C782cpRmFwLI","name":"VBV Telegram"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77ae619c-a1f0-44ab-9dd0-c6f43b5d8ff3","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2736,1120],"id":"92a20661-6765-4810-8147-f4ab3e89a05f","name":"Checks Use Approved or Not for new Email"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77ae619c-a1f0-44ab-9dd0-c6f43b5d8ff3","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2752,736],"id":"c8256908-e699-4c1a-90c6-db5090a54325","name":"Checks Use Approved or Not for Reply Email"},{"parameters":{"sendTo":"={{ $('AI Agent2').item.json.output.email }}","subject":"={{ $('AI Agent2').item.json.output.subject }}","emailType":"text","message":"={{ $('AI Agent2').item.json.output.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2512,1104],"id":"038e839f-2332-477e-b241-99035d5556f7","name":"Send a New Email","webhookId":"54e58d91-96dd-4be3-9c0f-12f44c362899","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"operation":"reply","messageId":"={{ $('Is this for Reply or New Email').item.json.output.chatId }}","emailType":"text","message":"={{ $('AI Agent2').item.json.output.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2528,720],"id":"d95c4455-709a-48a8-a15f-7ee8892de8e1","name":"Reply for a Email","webhookId":"54e58d91-96dd-4be3-9c0f-12f44c362899","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3707caf7-d0d5-4b47-8c01-f1bd0453fd14","leftValue":"={{ $json.labelIds[0] }}","rightValue":"SENT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2320,1104],"id":"6f0d5030-3446-4c3b-8137-1bef8b9dac7e","name":"Checks Email sends successfully"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3707caf7-d0d5-4b47-8c01-f1bd0453fd14","leftValue":"={{ $json.labelIds[1] }}","rightValue":"SENT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2336,720],"id":"8988f65f-bda2-4cd7-ac69-cce4e8e54604","name":"Checks Reply Email sends successfully"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatId }}","text":"=Email sent to  {{ $('AI Agent2').item.json.output.email }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2096,1008],"id":"6bf3bd94-7261-406d-a83b-c0ce6a51285e","name":"Success message for new email","webhookId":"6e6d6088-dd37-4fa6-95ab-5313a46adafb","credentials":{"telegramApi":{"id":"ao00C782cpRmFwLI","name":"VBV Telegram"}}},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatId }}","text":"=Email not sent to  {{ $('AI Agent2').item.json.output.email }}. Can I try again?","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2096,1184],"id":"79a3a3ef-511d-463d-820e-f05d2b7ff5a8","name":"Failure message for new email","webhookId":"6e6d6088-dd37-4fa6-95ab-5313a46adafb","credentials":{"telegramApi":{"id":"ao00C782cpRmFwLI","name":"VBV Telegram"}}},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatId }}","text":"=Email sent to  {{ $('Is this for Reply or New Email').item.json.output.email }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2096,624],"id":"63160bd1-42ff-4a0f-a2c2-78409cf2b45f","name":"Success message for reply email","webhookId":"6e6d6088-dd37-4fa6-95ab-5313a46adafb","credentials":{"telegramApi":{"id":"ao00C782cpRmFwLI","name":"VBV Telegram"}}},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatId }}","text":"=Email not sent to  {{ $('AI Agent2').item.json.output.email }}. Should I try again?","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2096,816],"id":"46444b29-de0c-4561-9c68-2e9879f091f0","name":"Failure message for reply email","webhookId":"6e6d6088-dd37-4fa6-95ab-5313a46adafb","credentials":{"telegramApi":{"id":"ao00C782cpRmFwLI","name":"VBV Telegram"}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}\n- Sign off all emails as:\n\"Kind Regards,\nLakshan\"","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-3504,944],"id":"fb02ddcf-3029-45ac-8890-deed59ee1cba","name":"AI Agent2"},{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-3584,1168],"id":"c0e1ff9d-a29a-4b75-a366-279a03f186e4","name":"OpenRouter Chat Model7","credentials":{"openRouterApi":{"id":"92bps6bgJv6gIN1Z","name":"OpenRouter account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"email\": \"test@gmail.com\",\n  \"subject\": \"Meeting Reminder\",\n  \"body\": \"Hello, just a reminder that we have a meeting scheduled tomorrow at 10:00 AM. Please make sure to bring all the necessary documents. Looking forward to seeing you!\",\n  \"method\":\"send\",\n  \"chatId\": \"1ft3frr\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-3248,1168],"id":"8324c4f5-d8d8-487f-8f07-a2552bffd381","name":"Structured Output Parser1"},{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-3424,1168],"id":"93c88ace-2bca-44fc-b70d-bfc99ea68ddc","name":"Get many messages in Gmail1","webhookId":"b336db7e-0b07-453d-ae7b-ec3890c62047","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,528],"id":"aaae19d2-fc64-4452-95bc-16fafbfbd279","name":"Response1"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a team member management assistant. Your responsibilities include looking up team members, adding new team members, or updating a team member's information.\n\n**Contact Management**  \n   - Use \"Get all team members\" to retrieve all team member's information. \n   - Use \"Add team member\" to store team member's information or modify existing entries.\n   - Use the \"Update row\" to update team member's details\n   - Use the \"Delete row\" to delete team member's details\n\nNotes:\nWhen adding a team member, all fields are mandatory"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-560,608],"id":"0e111433-994b-4170-b52f-6581643aaa45","name":"Team Management Agent1","onError":"continueErrorOutput"},{"parameters":{"databaseId":178,"tableId":711,"returnAll":true,"additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-560,832],"id":"3bc52587-4fa0-4111-b887-418e5c3258c1","name":"Get all team members","credentials":{"baserowApi":{"id":"3OnQ4ofVLqOA2bA4","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":178,"tableId":711,"fieldsUi":{"fieldValues":[{"fieldId":6851,"fieldValue":"={{ $fromAI('name') }}"},{"fieldId":6852,"fieldValue":"={{ $fromAI('email') }}"},{"fieldId":6854,"fieldValue":"={{ $fromAI('role') }}"},{"fieldId":6855,"fieldValue":"={{ $fromAI('phone') }}"}]}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-416,832],"id":"62d5fc7b-9c40-4ef0-8f17-5c1ab31fcf06","name":"Add a team member","credentials":{"baserowApi":{"id":"3OnQ4ofVLqOA2bA4","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":178,"tableId":711,"rowId":"={{ $fromAI('rowId') }}","fieldsUi":{"fieldValues":[{"fieldId":6851,"fieldValue":"={{ $fromAI('name') }}"},{"fieldId":6852,"fieldValue":"={{ $fromAI('email') }}"},{"fieldId":6854,"fieldValue":"={{ $fromAI('role') }}"},{"fieldId":6855,"fieldValue":"={{ $fromAI('phone') }}"}]}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-288,832],"id":"68be98f9-21aa-4bd3-b82d-17f847340dd5","name":"Update row","credentials":{"baserowApi":{"id":"3OnQ4ofVLqOA2bA4","name":"Baserow account"}}},{"parameters":{"operation":"delete","databaseId":178,"tableId":711,"rowId":"={{ $fromAI('rowId') }}"},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-176,832],"id":"b8e0ca12-ddd5-4792-a54d-f8827f6ea9dc","name":"Delete row","credentials":{"baserowApi":{"id":"3OnQ4ofVLqOA2bA4","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,688],"id":"b84ff947-d277-45a3-8d50-b95261cc7426","name":"Try Again4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-688,832],"id":"f5f98e47-e438-4eb7-8578-1badcfe25fe0","name":"OpenRouter Chat Model8","credentials":{"openRouterApi":{"id":"92bps6bgJv6gIN1Z","name":"OpenRouter account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"p42gXni04iDU2iuS","mode":"list","cachedResultName":"Team Management Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-496,432],"id":"83894d3a-0520-434c-a4b2-36a2a24594dd","name":"Team Management Agent"},{"parameters":{"name":"Email_Agent","description":"Call this tool to take any email actions","workflowId":{"__rl":true,"value":"92ZGhwRSEw1CFAXo","mode":"list","cachedResultName":"Email Agent KBK"}},"id":"c8683dbf-2f4f-4f0b-ba66-ced971f0a864","name":"Email_Agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-3024,-240]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n## Calendar Management Tools\n- **Get availability**: Always check availability for the requested slot before creating any event.  \n  - Use the date/time format: `[DateTime: YYYY-MM-DDTHH:MM:SS.sss±HH:MM]`\n\n- **Create Event with Attendee**: Use when an event includes one or more participants. Only proceed after confirming the slot is available. Always notify all attendees when an event is created.\n\n- **Create Event**: Use for solo events. Only proceed after confirming the slot is available.\n\n- **Get Events**: Fetch calendar schedules when requested.\n\n- **Delete Event**: Delete an event. You must use \"Get Events\" first to get the ID of the event to delete. Always notify all attendees when an event is deleted.\n\n- **Update Event**: Update an event. You must use \"Get Events\" first to get the ID of the event to update. All inputs are optional. Always notify all attendees when an event is updated.\n\n## Rules\n- You must never create an event without first performing **Get availability** for the given date/time.\n- If a duration for an event isn't specified, assume **1 hour**.\n- Always request missing details such as attendee emails, location, or description before creating an event.\n\n## Final Notes\nHere is the current date/time: {{ $now.setZone(\"Asia/Kolkata\").toFormat(\"yyyy-MM-dd HH:mm:ss\") }}. Update this prompt for, before checking the availability, create an event, for all needed places.\n\nIf the user mentions meeting will happen in google meet, then add Google Meet Video Conferencing, create new meeting link and add it to the event.\n\nAll events must be scheduled for IST timezone (GMT+ 5:30)"}},"id":"5fba0640-efd9-44a6-8f23-8df19e0500a0","name":"Calendar Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1232,-48],"onError":"continueErrorOutput"},{"parameters":{"calendar":{"__rl":true,"value":"aeontrix.ai@gmail.com","mode":"list","cachedResultName":"aeontrix.ai@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"={{ $fromAI(\"description\") }}","location":"={{ $fromAI(\"location\") }}","summary":"={{ $fromAI(\"title\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-752,176],"id":"e80569bb-f7fa-454c-83df-4487f51e865a","name":"Create Event with Attendee","credentials":{"googleCalendarOAuth2Api":{"id":"M6bwyau13yjhCIv8","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"aeontrix.ai@gmail.com","mode":"list","cachedResultName":"aeontrix.ai@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":[],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"={{ $fromAI(\"description\") }}","location":"={{ $fromAI(\"location\") }}","sendUpdates":"all","summary":"={{ $fromAI(\"title\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-1392,176],"id":"d84122bb-07bd-4f1a-8d52-aa2f72e43fa7","name":"Create Event","credentials":{"googleCalendarOAuth2Api":{"id":"M6bwyau13yjhCIv8","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"aeontrix.ai@gmail.com","mode":"list","cachedResultName":"aeontrix.ai@gmail.com"},"timeMin":"={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-880,176],"id":"2bf1d72b-34a3-49e3-867f-ca451c069a5b","name":"Get Events","credentials":{"googleCalendarOAuth2Api":{"id":"M6bwyau13yjhCIv8","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"aeontrix.ai@gmail.com","mode":"list","cachedResultName":"aeontrix.ai@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-1136,176],"id":"103061de-c08a-4b49-a33a-6d66c53a8920","name":"Delete Event","credentials":{"googleCalendarOAuth2Api":{"id":"M6bwyau13yjhCIv8","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"aeontrix.ai@gmail.com","mode":"list","cachedResultName":"aeontrix.ai@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"attendeesUi":{"values":{"attendees":["={{ $fromAI(\"attendees\") }}"]}},"description":"={{ $fromAI(\"description\") }}","end":"={{ $fromAI(\"endTime\") }}","location":"={{ $fromAI(\"location\") }}","sendUpdates":"all","start":"={{ $fromAI(\"startTime\") }}","summary":"={{ $fromAI(\"title\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-1264,176],"id":"989fe69c-f71a-4451-aff1-8741020a7771","name":"Update Event","credentials":{"googleCalendarOAuth2Api":{"id":"M6bwyau13yjhCIv8","name":"Google Calendar account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"aeontrix.ai@gmail.com","mode":"list","cachedResultName":"aeontrix.ai@gmail.com"},"timeMin":"={{ $fromAI(\"eventStart\") }}","timeMax":"={{ $fromAI(\"eventEnd\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-1008,176],"id":"974fd07e-8a8f-446f-8e9a-3cc01000ed27","name":"Get availability","credentials":{"googleCalendarOAuth2Api":{"id":"M6bwyau13yjhCIv8","name":"Google Calendar account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"d7c961e6-0445-4c64-a990-969cee6a739a","name":"Try Again1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,16]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"1c2a1d2f-fcf3-40c2-bdfd-8a9351dc6edb","name":"Success1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,-128]},{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1520,176],"id":"7e77c28c-1899-4d19-85d2-bf4354da279e","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"92bps6bgJv6gIN1Z","name":"OpenRouter account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"uQIglszOTGHjILCA","mode":"list","cachedResultName":"Client Management Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1344,432],"id":"d8c0123d-29fc-4d8c-bcfe-ce7756c09c75","name":"Client Management Agent1"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,528],"id":"bc138270-5638-4d64-b812-0ed84951a782","name":"Response"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a client management assistant. Your responsibilities include looking up clients or, adding new clients or , or updating a client's or information.\n\n**Contact Management**  \n   - Use \"Get many rows\" to retrieve client's information. \n   - Use \"Create row\" to store new client's information or modify existing entries.\n   - Use the \"Update row\" to update a client's details\n   - Use the \"Delete row\" to delete a client's details\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1408,608],"id":"4011ecc0-28d5-4a8b-ae17-68b3f738faad","name":"Client Management Agent","onError":"continueErrorOutput"},{"parameters":{"databaseId":178,"tableId":710,"returnAll":true,"additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-1424,816],"id":"e769fd73-3a51-477b-a31d-74a6f730c7c1","name":"Get many rows","credentials":{"baserowApi":{"id":"3OnQ4ofVLqOA2bA4","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":178,"tableId":710,"fieldsUi":{"fieldValues":[{"fieldId":6848,"fieldValue":"={{ $fromAI('name') }}"},{"fieldId":6849,"fieldValue":"={{ $fromAI('email') }}"},{"fieldId":6857,"fieldValue":"={{ $fromAI('phone') }}"},{"fieldId":6862,"fieldValue":"={{ $fromAI('company') }}"}]}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-1296,816],"id":"7b2e3795-b863-455b-90cc-7d981d09462c","name":"Create client","credentials":{"baserowApi":{"id":"3OnQ4ofVLqOA2bA4","name":"Baserow account"}}},{"parameters":{"operation":"delete","databaseId":178,"tableId":710,"rowId":"={{ $fromAI('rowId') }}"},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-1040,816],"id":"93fb3c6e-c12b-4aad-ab3e-fab98331f74b","name":"Delete a row","credentials":{"baserowApi":{"id":"3OnQ4ofVLqOA2bA4","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,672],"id":"26a94077-b652-4dff-9867-7d4d09fc9caf","name":"Try Again3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1552,816],"id":"7d6e6a4e-41a1-4148-ba9b-7213c0f1c21d","name":"OpenRouter Chat Model5","credentials":{"openRouterApi":{"id":"92bps6bgJv6gIN1Z","name":"OpenRouter account"}}},{"parameters":{"operation":"update","databaseId":178,"tableId":710,"rowId":"={{ $fromAI('rowId') }}","fieldsUi":{"fieldValues":[{"fieldId":6848,"fieldValue":"={{ $fromAI('name') }}"},{"fieldId":6849,"fieldValue":"={{ $fromAI('email') }}"},{"fieldId":6857,"fieldValue":"={{ $fromAI('phone') }}"},{"fieldId":6862,"fieldValue":"={{ $fromAI('company') }}"}]}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-1168,816],"id":"8992f9aa-4e9c-4c6f-a675-3148373a6348","name":"Update row1","credentials":{"baserowApi":{"id":"3OnQ4ofVLqOA2bA4","name":"Baserow account"}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are an email management assistant. All emails must be formatted professionally in HTML.\n\n**Email Management Tools**   \n   - Use \"Get Emails\" to retrieve emails when requested.\n   - Use \"Get Labels\" to retrieve labels.\n   - Use \"Mark Unread\" to mark an email as unread. You must use \"Get Emails\" first so you have the message ID of the email to flag.\n   - \"Get Based on Lable\" to get the emails under that particular label, but it needs labelId, so first use \"Get Labels\" and match with input and get the Id.\n   - \"Get Emails from the particular email\" for fetching the emails sent by a specific email id.\n\n## Final Notes\n- Here is the current date/time: {{ $now.setZone(\"Asia/Kolkata\").toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\n- Sign off all emails as:\n\"Kind Regards,\nLakshan\""}},"id":"d5168b91-227c-4d2a-b82c-b06a4eae308a","name":"Email Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-3088,-112],"onError":"continueErrorOutput"},{"parameters":{"resource":"label","returnAll":true},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-2768,144],"id":"f850c1ea-e38b-4e15-bfcd-2b4fd7c6f221","name":"Get Labels","webhookId":"db11507d-539d-448b-abdf-1f32063fe604","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"operation":"markAsUnread","messageId":"={{ $fromAI(\"messageID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-2640,144],"id":"abf18777-9694-4e8c-bacc-a1e149269f7d","name":"Mark Unread","webhookId":"96a6ddc3-7e6c-40a5-8052-56aa6236df2e","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"jsCode":"// Read AI output directly from the \"AI Agent\" node\nconst ai =  $('AI Agent1').first().json.output|| {};\nconst targetNameRaw = (ai.label || \"\").trim();\nconst messageId = ai.messageId;\n\n// Basic sanitize + TitleCase\nconst cleaned = targetNameRaw\n  .replace(/[^a-zA-Z\\s]/g, \"\")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\nconst titleCase = cleaned.replace(/\\w\\S*/g, w => w[0].toUpperCase() + w.slice(1).toLowerCase());\n\n// Labels coming in from \"Get many labels\"\nconst labels = $input.all().map(i => i.json);\n\n// Case-insensitive match on name\nconst match = labels.find(l => (l.name || \"\").toLowerCase() === titleCase.toLowerCase());\n\nreturn [{\n  labelName: titleCase || \"General\",\n  messageId,\n  found: !!match,\n  labelId: match ? match.id : null\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2640,352],"id":"a8aa407c-a30b-415d-933e-b490313f7230","name":"Code"},{"parameters":{"resource":"label"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2816,352],"id":"63aba1c4-ca79-46d5-a26a-8bd919230dc7","name":"Get many labels","webhookId":"a2ee28e3-cc2a-4bbe-818c-ceddca3d61a2","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.messageId }}","labelIds":"={{ $json.labelId }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2272,256],"id":"59ae8ca8-628e-4505-9f6e-44fca6b3231c","name":"Add label to message","webhookId":"1d2a8a08-bf1e-4eb3-81ac-05679fea46f6","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"label\": \"Lead\",\n\t\"messageId\": \"shdgs7w4qrhg4h4\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2928,560],"id":"e8a1ccd6-1e94-4d1a-a608-7377daa131c3","name":"Structured Output Parser"},{"parameters":{"operation":"get","messageId":"={{ $fromAI(\"messageId\",\"Message Id of the email\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-3072,560],"id":"45c3f1aa-df68-4841-88df-d67fbb11907d","name":"Get mail","webhookId":"013d4550-edb0-4c8f-8363-dba18c8d7792","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-3616,336],"id":"307564eb-d508-40e4-ad5b-58f005332ff9","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"faee630d-c88e-43d0-bc1f-c8d0195a04ec","leftValue":"={{ $json.found }}","rightValue":"false","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2480,352],"id":"6236e6aa-5928-4557-8940-6b139730ad42","name":"If"},{"parameters":{"resource":"label","operation":"create","name":"={{ $json.labelName }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2272,432],"id":"db92b268-da71-4108-8a30-719d8f9173db","name":"Create a label","webhookId":"5784dbd7-4216-43b1-9b02-8d4c94377740","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $('Code').item.json.messageId }}","labelIds":"={{ $json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2112,432],"id":"22f11e96-4e88-445e-a09c-86bcd52c522d","name":"Add label to message1","webhookId":"5682fc4b-c07e-4543-b8da-a55aecf6bd2c","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"operation":"getAll","filters":{"labelIds":"={{ $fromAI(\"labelId\") }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-2496,144],"id":"c6733625-213c-4434-bb35-27192959fbb6","name":"Get Based on Lable","webhookId":"1bcc3d9b-1651-4170-a9ba-9b80d9d5f22b","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76ff6883-7b02-48d3-ab5f-b34a2ed9d63c","leftValue":"={{ $json.From }}","rightValue":"Aeontrix AI <aeontrix.ai@gmail.com>","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3408,336],"id":"ff3730bf-8744-459a-8f8f-9f9805f62eb1","name":"If1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chatId }}","databaseName":"n8n_chat","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryMongoDbChat","typeVersion":1,"position":[-3200,144],"id":"8f914372-104d-4a09-89b6-51453bf1d646","name":"MongoDB Chat Memory1","credentials":{"mongoDb":{"id":"eXqIRBfqWlKbVBG5","name":"MongoDB account"}}},{"parameters":{"operation":"getAll","limit":"={{ $fromAI(\"limit\",\"how many emails the user wants\") }}","simple":false,"filters":{"sender":"={{ $fromAI(\"sender\",\"who the emails are from\") }}"},"options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-2912,144],"id":"a5b8c8e4-ac33-45e0-9ada-04cb03354ce6","name":"Get Emails from the particular email","webhookId":"7c285253-9e19-4100-a2ce-00daefa7ebc2","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-3056,144],"id":"9f706a7f-e44b-43d0-af1b-835f8c818a95","name":"Get Emails","webhookId":"b336db7e-0b07-453d-ae7b-ec3890c62047","credentials":{"gmailOAuth2":{"id":"cQcIJDJ6bzOi2dwC","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"56f28f3a-87e0-4b0f-bbd5-4133b01907aa","name":"Try Again2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2576,-48]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"46fd5104-6968-42d5-b75c-70d81464158f","name":"Success2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2576,-192]},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-3344,144],"id":"b00f0c3f-5161-4e16-ab19-6f0d309dd691","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"92bps6bgJv6gIN1Z","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-3232,560],"id":"4fd53087-dd8d-47fe-b94f-f639d07166cb","name":"OpenRouter Chat Model4","credentials":{"openRouterApi":{"id":"92bps6bgJv6gIN1Z","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=You are given the subject and body of an email.\n\nChoose exactly **ONE** label from this fixed list (no other labels allowed):\n\n- Meeting Booked\n- Meeting Rescheduled\n- Meeting Cancelled\n- Invoice\n- Internal (When someone from within the organization sends)\n- Sales Inquiry\n- Client Support\n- Newsletter\n- Promotion\n- Recruitment\n- Lead analysis report\n- Cold Pitch\n- Miscellaneous\n\nUse the \"Get mail\" tool to fetch the email's subject and content.\nPass the messageId below to \"Get mail\".\nmessageId: {{ $json.id }}\n\n**Selection hints:**\n1. **Meeting Booked** - Cal.com / Google Calendar email confirming a meeting booking.\n2. **Meeting Rescheduled** - Cal.com / Google Calendar email indicating a meeting has been moved to a different date/time.\n3. **Meeting Cancelled** - Cal.com / Google Calendar email indicating a meeting has been cancelled.\n4. **Invoice** - When we buy a software or service and receive an invoice, bill, receipt, payment confirmation, or due notice.\n5. **Internal** - When someone from within the organization sends the email.\n6. **Sales Inquiry** - When someone sends an email asking about our services (prospect/leads, RFQ, “pricing/details?”).\n7. **Client Support** - When we receive an email from our clients regarding help, troubleshooting, or assistance.\n8. **Newsletter** - Newsletters we have subscribed to (subscriptions, marketing blasts, “unsubscribe” links).\n9. **Promotion** - Random app, website, or product promotions offering deals or discounts.\n10. **Recruitment** - When we are hiring and people send their resume, applications, or related inquiries.\n11. **Lead analysis report** - When we ask a personal assistant to analyse and create a report, or when someone books a meeting and an automated report is generated.\n12. **Cold Pitch** - When we receive cold emails from other companies pitching their services.\n13. **Miscellaneous** - Any other type of email not covered above.\n\n---\n\n**Output JSON ONLY** with these keys:\n```json\n{\"labelName\":\"<one of the labels exactly as written>\",\"messageId\":\"<same messageId>\"}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-3168,352],"id":"fff8d33b-0e59-4b92-b488-12d8809b2697","name":"AI Agent1"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview  \nYou are a Clickup AI agent connected to Clickup via HTTP. Your primary role is to handle customer queries by interacting with the Project Management Tool to retrieve or update tasks, list, folder and space data.\n\n## Context  \n- Users will send natural language queries such as \"How many open tasks do we have in the Growth Space?\" or \"Create a task in Marketing called \"update landing page\"\"  \n- The system has access to Clickup tools: Spaces, Folders, Lists, Tasks.  \n- The AI can also update tasks, assign users, get information about tasks and users.\n- If no data is found for a query, respond politely that the requested information could not be located.\n- If no specific location for Space or Folder is not given, you need to determine which Space and Folder the task best fits in. For example, \"find missing invoices\" would best go into Admin Space, Finance List.\n\n- Each Client has a Spaces\n- Sometimes there are no folders in spaces, but there are lists, in that case these lists can be referred to as projects, so get the lists name and tell to user when asked for projects.\n- When I mention a list and no space, use get spaces or get lists to search for it.\n- Write down the tasks in proper format line by line under the list.\n\n## Instructions  \n1. Parse the user message to determine intent (e.g., retrieve, update, move, create).  \n2. Use the appropriate tool:\n   - Use **getSpaces** to retrieve information about the Spaces in the Clickup Workspace.\n   - Use **getFolders** to retrieve information about Folders in a specific Space.\n   - Use **getLists** to retrieve information about lists inside of a Folder.\n   - Use **getFolderlessLists** to retreive information about the lists inside a Space.\n   - Use **getTasks** to retrieve information about tasks inside a List.\n   - Use **createTask** to create a task inside a List.\n   - Use **updateTask** to update a task inside a List.\n   - Use **Get Team Members** to get the team members details.\n\nModify tasks only when clear instructions are given (e.g., add note, move stage, update value). If modifying data, confirm success or report failure. If nothing is found, reply with a helpful message such as: \"I couldn’t find any list matching that name in any Space. Can you double-check the spelling?\" On success, output clear, concise results.\n\nWhen creating a new task, get all lists, to understand where the list is located, and correctly add task in that location, along with deadline and assignee if mentioned.\n\n## Tools  \n- OpenAI Chat Model  \n- getSpaces\n- getFolders\n- getLists\n- getFolderlessLists\n- getTasks\n- createTask\n- updateTask\n- Think (for reasoning or fallback actions)\n\n## Rules for tools\n\n- When using \"getSpaces\", always output the Space name, its ID, all the folders AND their IDs, all the folderless lists and their IDs.\n\n- When using \"getFolders\", you MUST first use \"getSpaces\" to get the spaceId that is necessary in the request URL. You may need to infer the name of the Space based on the prompt (a Space name always start with a capital letter).\n\n- When using \"getLists\", you MUST first use \"getFolders\" to get the folderId that is necessary in the request URL.\n\n- When using \"getFolderlessLists\", you MUST first use \"getSpaces\" to get the spaceId that is necessary in the request URL.\n\n- The user IDs associated with xxx is ###### and with xxx is ######. You MUST add a assignee when instructed with the correct ID.\n\n\n## Examples\n\n- Input: \"What are all the folders in Growth\"\n- Action: Use \"getSpaces\" to find all the Spaces and their IDs.\n- Action: Use \"getFolders\" to find all the folders in the correct Space.\n- Action: Use \"getFolderlessLists\" to find if there are any folderless lists in that Space.\n- Output: \"The folders in Growth are (folder), (folder) and (folder). There are also lists (list), (list) and (list)\"\n\n- Input: \"Where should marketing tasks go?\"\n- Action: Use \"getSpaces\" to find all the Spaces and their IDs.\n- Action: Use \"Think\" to reason under which Space would marketing fall under.\n- Action: Use \"getFolders\" to find all the folders and their IDs in the correct Space.\n- Action: Use \"getFolderlessLists\" to find if there are any folderless lists in that Space, return their names and IDs.\n- Action: Use \"Think\" to reason whether marketing tasks would fall under any of the folderless lists or folders.\n- Output: \"Marketing tasks would fall under (folder) in the (Space)\"\n\n\n## SOP (Standard Operating Procedure)  \n1. Listen for incoming chat messages.  \n2. Analyze the message to identify the user's intent.  \n3. Use the CLickup tools to execute the query:\n   - Search or retrieve data\n   - Add/update tasks\n   - Create/move/update tasks  \n4. Handle missing data with a graceful fallback message.  \n5. Return the response to the user.  \n6. On error, send to \"Try Again\" node or return a retry message.  \n\n## Final Notes  \n- Always validate that the correct task is being referenced before performing write operations.  \n- Be polite, concise, and accurate in all responses.  \n- Use the \"Think\" node to handle ambiguous or complex logic before proceeding to action.\n- Here is the current date/time: {{ $now.setZone(\"Asia/Kolkata\").toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\n---\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[832,-96],"id":"f43eacd2-eec1-43d6-9edf-337d1892b1e4","name":"AI Agent"},{"parameters":{"url":"=https://api.clickup.com/api/v2/team/90161182848/space","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1072,144],"id":"dc99e0a8-ec62-4a17-9f2e-bcd3f75e75d6","name":"getSpaces","credentials":{"clickUpOAuth2Api":{"id":"C4yXPX4iMw8fxPYP","name":"ClickUp account"}}},{"parameters":{"url":"=https://api.clickup.com/api/v2/space/{{ $fromAI('spaceId') }}/folder","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1344,144],"id":"94312359-025f-4409-b4af-0d82cb9163b9","name":"getFolders","credentials":{"clickUpOAuth2Api":{"id":"C4yXPX4iMw8fxPYP","name":"ClickUp account"}}},{"parameters":{"url":"=https://api.clickup.com/api/v2/space/{{ $fromAI('spaceId')}}/list","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1200,144],"id":"edd51437-6ed4-4630-84b4-0ee68c24247f","name":"getFolderlessLists","credentials":{"clickUpOAuth2Api":{"id":"C4yXPX4iMw8fxPYP","name":"ClickUp account"}}},{"parameters":{"url":"=https://api.clickup.com/api/v2/folder/{{ $fromAI('folderId')}}/list","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1472,144],"id":"8097d9bc-e370-45ac-b51a-cc04c44cc430","name":"getLists","credentials":{"clickUpOAuth2Api":{"id":"C4yXPX4iMw8fxPYP","name":"ClickUp account"}}},{"parameters":{"url":"=https://api.clickup.com/api/v2/list/{{ $fromAI('listId')}}/task","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1616,144],"id":"e9c97a0f-54e9-4505-bf3a-d760e105ef81","name":"getTasks","credentials":{"clickUpOAuth2Api":{"id":"C4yXPX4iMw8fxPYP","name":"ClickUp account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[864,144],"id":"beffedee-1d0e-4441-9307-57cf2d2280c8","name":"Think"},{"parameters":{"authentication":"oAuth2","team":"90161182848","space":"={{ $fromAI('spaceId') }}","folderless":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Folderless_List', ``, 'boolean') }}","folder":"={{ $fromAI('folderId') }}","list":"={{ $fromAI('listId') }}","name":"={{ $fromAI('taskName') }}","additionalFields":{"assignees":"={{ $fromAI('Assignee_Names_or_IDs').toString().split(',').map(id => parseInt(id.trim())) }}","dueDate":"={{ $fromAI('Due_Date', ``, 'string') }}"}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[976,272],"id":"dc1968a3-d39b-47a3-8351-b316995c8423","name":"createTask","credentials":{"clickUpOAuth2Api":{"id":"C4yXPX4iMw8fxPYP","name":"ClickUp account"}}},{"parameters":{"authentication":"oAuth2","operation":"update","id":"={{ $fromAI('Task_ID', ``, 'string') }}","updateFields":{"addAssignees":"={{ $fromAI('Add_Assignees', ``, 'string') }}","dueDate":"={{ $fromAI('dueDate') }}","dueDateTime":false,"name":"={{ $fromAI('task') }}","removeAssignees":"={{ $fromAI('teamMember') }}","status":"={{ $fromAI('status') }}"}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1136,272],"id":"fd152b6a-dba2-40d7-9d1a-c76f53317461","name":"updateTask","credentials":{"clickUpOAuth2Api":{"id":"C4yXPX4iMw8fxPYP","name":"ClickUp account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[736,144],"id":"d4ad3953-1dea-4f1a-8a4a-21a18c073e55","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"92bps6bgJv6gIN1Z","name":"OpenRouter account"}}},{"parameters":{"authentication":"oAuth2","team":"90161182848","space":"={{ $fromAI('spaceId') }}","folder":"={{ $fromAI('folderId') }}","list":"={{ $fromAI('listId') }}","name":"={{ $fromAI('taskName') }}","additionalFields":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1280,272],"id":"551715cf-5130-4b39-a35e-c2e61633af88","name":"Create a task in ClickUp","credentials":{"clickUpOAuth2Api":{"id":"C4yXPX4iMw8fxPYP","name":"ClickUp account"}}},{"parameters":{"authentication":"oAuth2","resource":"folder","team":"90161182848","space":"={{ $fromAI('spaceId') }}","name":"={{ $fromAI('folderName') }}"},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1424,272],"id":"2df480fb-7a15-4b9a-99cc-1911117d3806","name":"Create a folder in ClickUp","credentials":{"clickUpOAuth2Api":{"id":"C4yXPX4iMw8fxPYP","name":"ClickUp account"}}},{"parameters":{"authentication":"oAuth2","resource":"folder","operation":"get","team":"90161182848","space":"={{ $fromAI('spaceId') }}","folder":"={{ $fromAI('folderId') }}"},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1568,272],"id":"67e841f5-ba49-46e6-9e5b-6eb7547f63f1","name":"Get a folder in ClickUp","credentials":{"clickUpOAuth2Api":{"id":"C4yXPX4iMw8fxPYP","name":"ClickUp account"}}},{"parameters":{"authentication":"oAuth2","resource":"list","operation":"create","team":"90161182848","space":"={{ $fromAI('spaceId') }}","folder":"={{ $fromAI('folderId') }}","name":"={{ $fromAI('listName') }}","additionalFields":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1728,272],"id":"1885f071-8c94-4888-b038-b98bc0b59f12","name":"Create a list in ClickUp","credentials":{"clickUpOAuth2Api":{"id":"C4yXPX4iMw8fxPYP","name":"ClickUp account"}}},{"parameters":{"url":"https://api.clickup.com/api/v2/team","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1744,144],"id":"db582d2f-31bc-4b98-a58a-ee41915238ac","name":"Get Team Members","credentials":{"clickUpOAuth2Api":{"id":"C4yXPX4iMw8fxPYP","name":"ClickUp account"}}},{"parameters":{"authentication":"oAuth2","operation":"delete","id":"={{ $fromAI('taskId') }}"},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1872,272],"id":"9b3e73f2-3e2c-4a48-981e-15b1a8231055","name":"Delete a task in ClickUp","credentials":{"clickUpOAuth2Api":{"id":"C4yXPX4iMw8fxPYP","name":"ClickUp account"}}}],"connections":{"SerpAPI":{"ai_tool":[[{"node":"Research Agent","type":"ai_tool","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"Research Agent","type":"ai_tool","index":0}]]},"Research Agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Research Agent","type":"ai_languageModel","index":0}]]},"Message a model in Perplexity":{"ai_tool":[[{"node":"Research Agent","type":"ai_tool","index":0}]]},"Personal Assistant":{"main":[[{"node":"Respond to Me","type":"main","index":0}]]},"Calculator1":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Transcribe Audio1":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Research_Agent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Calendar_Agent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Task Management Agent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Database":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[]]},"Switch":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Set 'Text'":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe Audio1","type":"main","index":0}]]},"OpenRouter Chat Model6":{"ai_languageModel":[[{"node":"Personal Assistant","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"Personal Assistant","type":"ai_memory","index":0}]]},"Update a document":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Create copy from template":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Create copy from template","type":"main","index":0}]]},"Webhook":{"main":[[]]},"Code1":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Is this for Reply or New Email":{"main":[[{"node":"Reply Email Approve","type":"main","index":0}],[{"node":"New Email Approve","type":"main","index":0}]]},"New Email Approve":{"main":[[{"node":"Checks Use Approved or Not for new Email","type":"main","index":0}]]},"Reply Email Approve":{"main":[[{"node":"Checks Use Approved or Not for Reply Email","type":"main","index":0}]]},"Checks Use Approved or Not for new Email":{"main":[[{"node":"Send a New Email","type":"main","index":0}]]},"Checks Use Approved or Not for Reply Email":{"main":[[{"node":"Reply for a Email","type":"main","index":0}]]},"Send a New Email":{"main":[[{"node":"Checks Email sends successfully","type":"main","index":0}]]},"Reply for a Email":{"main":[[{"node":"Checks Reply Email sends successfully","type":"main","index":0}]]},"Checks Email sends successfully":{"main":[[{"node":"Success message for new email","type":"main","index":0}],[{"node":"Failure message for new email","type":"main","index":0}]]},"Checks Reply Email sends successfully":{"main":[[{"node":"Success message for reply email","type":"main","index":0}],[{"node":"Failure message for reply email","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Is this for Reply or New Email","type":"main","index":0}]]},"OpenRouter Chat Model7":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]},"Get many messages in Gmail1":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Team Management Agent1":{"main":[[{"node":"Response1","type":"main","index":0}],[{"node":"Try Again4","type":"main","index":0}]]},"Get all team members":{"ai_tool":[[{"node":"Team Management Agent1","type":"ai_tool","index":0}]]},"Add a team member":{"ai_tool":[[{"node":"Team Management Agent1","type":"ai_tool","index":0}]]},"Update row":{"ai_tool":[[{"node":"Team Management Agent1","type":"ai_tool","index":0}]]},"Delete row":{"ai_tool":[[{"node":"Team Management Agent1","type":"ai_tool","index":0}]]},"OpenRouter Chat Model8":{"ai_languageModel":[[{"node":"Team Management Agent1","type":"ai_languageModel","index":0}]]},"Team Management Agent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Email_Agent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Calendar Agent":{"main":[[{"node":"Success1","type":"main","index":0}],[{"node":"Try Again1","type":"main","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get availability":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Calendar Agent","type":"ai_languageModel","index":0}]]},"Client Management Agent1":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Client Management Agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again3","type":"main","index":0}]]},"Get many rows":{"ai_tool":[[{"node":"Client Management Agent","type":"ai_tool","index":0}]]},"Create client":{"ai_tool":[[{"node":"Client Management Agent","type":"ai_tool","index":0}]]},"Delete a row":{"ai_tool":[[{"node":"Client Management Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model5":{"ai_languageModel":[[{"node":"Client Management Agent","type":"ai_languageModel","index":0}]]},"Update row1":{"ai_tool":[[{"node":"Client Management Agent","type":"ai_tool","index":0}]]},"Email Agent":{"main":[[{"node":"Success2","type":"main","index":0}],[{"node":"Try Again2","type":"main","index":0}]]},"Get Labels":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Mark Unread":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"Get many labels":{"main":[[{"node":"Code","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Get mail":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Gmail Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]},"If":{"main":[[{"node":"Add label to message","type":"main","index":0}],[{"node":"Create a label","type":"main","index":0}]]},"Create a label":{"main":[[{"node":"Add label to message1","type":"main","index":0}]]},"Get Based on Lable":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"If1":{"main":[[],[{"node":"AI Agent1","type":"main","index":0}]]},"MongoDB Chat Memory1":{"ai_memory":[[{"node":"Email Agent","type":"ai_memory","index":0}]]},"Get Emails from the particular email":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Get Emails":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"Email Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Get many labels","type":"main","index":0}]]},"getSpaces":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"getFolders":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"getFolderlessLists":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"getLists":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"getTasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"createTask":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"updateTask":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Create a task in ClickUp":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create a folder in ClickUp":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get a folder in ClickUp":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create a list in ClickUp":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get Team Members":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Delete a task in ClickUp":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"automation.aeontrix.com","x-real-ip":"34.116.22.69","x-forwarded-for":"34.116.22.69","x-forwarded-proto":"https","x-forwarded-host":"automation.aeontrix.com","x-forwarded-port":"443","content-length":"261","content-type":"application/json","user-agent":"Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd-SVafzW8X-AsBdkj4pcMFEXkh4RA)","accept-encoding":"gzip, deflate, br"},"params":{},"query":{},"body":{"Company Name":"Pasovit Technologies","Incorporator Name":"Lakshan Anirudh Kannan","Date of registration":"2025-08-30","State":"Tamilnadu","Address":"715A, 7th Floor, Spencer Plaza Suite No, 718, Anna Salai","No of shares":"100000","Amount of each share":"45"},"webhookUrl":"https://automation.aeontrix.com/webhook/1c648cb0-3e41-411b-a250-fb3ac0d996b6","executionMode":"production"}}],"When Executed by Another Workflow":[{"json":{"query":"Send an email to lakshan@aeontrix.com asking if he can make it to the meeting ?","chatId":"5451677003"}}],"Gmail Trigger":[{"json":{"id":"198dbe70a0c16a70","threadId":"198dbe70a0c16a70","snippet":"Reminder to clear all pending invoices.","payload":{"mimeType":"text/plain"},"sizeEstimate":574,"historyId":"73419","internalDate":"1756036008000","labels":[{"id":"SENT","name":"SENT"}],"To":"workwithsk2@gmail.com","Subject":"Reminder","From":"aeontrix.ai@gmail.com"}}]},"versionId":"e7cae4f3-031f-4c13-89e9-57f402cb1a5b","triggerCount":0,"shared":[{"createdAt":"2025-08-23T05:40:02.520Z","updatedAt":"2025-08-23T05:40:02.520Z","role":"workflow:owner","workflowId":"13le4xsRFlfkW21T","projectId":"i91f6c4SGnMsAUAz"}],"tags":[]}